[2020-11-09 13:50] MiguelPeralvo opened #2 "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0) in common.py"
It looks like the mlflow client version may have changed, as when the experiment doesn't exist, this line fails:
https://github.com/databrickslabs/cicd-templates-api/blob/65bda97b1b9e7be296b2c522b2b900938f03abe8/dbx/utils/common.py#L215

with this exception
[code]

mlflow version:
[code]

project.json:
[code]

Complete stack trace:
[code]

[2020-11-16 16:08] #2 closed, assigned to nobody

[2021-03-04 15:30] renardeinside opened #17 "dbx execute fails in 0.0.11"
## Expected Behavior

dbx execute shall run smoothly on ML runtime 7.X

## Current Behavior

The command fails during cluster execution with error:
[code]
## Steps to Reproduce (for bugs)

As described above.

## Context

dbx execute

## Your Environment

* dbx version used: 0.0.11
* Databricks Runtime version: 7.4 ML

[2021-03-04 17:18] renardeinside commented on #17
Fixed in 0.0.12

[2021-03-04 17:18] #17 closed

[2021-03-16 09:54] Ceridan opened #26 "dbx v0.1.0 crashes on Windows platform"
## Problem
`dbx` CLI version 0.1.0 totally crashed on Windows (see traceback below). Previous version (0.0.14) works correctly.

Traceback:
[code]

## Your Environment
OS Windows 10, 1909
conda 4.9.2 (using virtual env)
dbx version used: 0.1.0

Actually I created fresh project using [cicd-templates](https://github.com/databrickslabs/cicd-templates)

[2021-03-16 09:56] Ceridan commented on #26
Workaround:
[code]

Fixes the problem for me.

[2021-03-16 14:30] renardeinside commented on #26
fixed in #28

[2021-03-16 14:30] #26 closed

[2021-04-06 13:03] guiferviz opened #33 "Plans for cluster deployments"
Hi! Do you have any plans to include cluster deployment as well or is `dbx` only intended for jobs?

I think it would be nice to have a list of clusters at the same level as the list of jobs. Something like:
[code]

I would be very happy to work on it if we agree on a definition. Something worth discussing would be whether jobs should reference clusters with the id (like the API requires) or with

[2021-04-06 16:06] renardeinside commented on #33
Hi @guiferviz ,

Thanks a lot for opening this issue.

In general, I would say that this feature can be achieved or implemented **not** in dbx.
As per the definition - dbx is a _job management tool_, while clusters management is more a part of _infrastructure_ settings.
For interactive cluster management, it's much better to use the Databricks CLI directly, or Terraform provider.

For automated cl

[2021-04-06 21:41] guiferviz commented on #33
Thanks for your quick response @renardeinside!
jsonnet is a really good tool for working with these configuration files, thanks for pointing it out.

My proposal was motivated from clients that prefer to have a single cluster on which to run several or all of their jobs in order to save costs. I understand that cluster deployment is more infrastructure-related, but in my view also ephemeral cluste

[2021-04-14 15:19] dimi-kr opened #36 "[FEATURE] Fetch and use cluster policy definitions when policy_id is defined in deployment config"
## Expected Behavior
When `policy_id` is being used in deployment configuration of a job all mandatory fields are set in cluster policy automatically merged into api request for job creation/modification.
## Current Behavior
dbx doesn't include mandatory configuration fields from cluster policy.
## Steps to Reproduce (for bugs)
1. Create a policy for cluster with random mandatory fields.
2. bootst

[2021-04-15 13:39] renardeinside commented on #36
hi @dimi-kr ,

Thanks a lot for providing the feature request. I'll take a look into it.

[2021-04-17 09:22] renardeinside commented on #33
@guiferviz ,
so would it be okay for you to use the `existing_cluster_id` or Jsonnet option?

[2021-04-17 12:28] guiferviz commented on #33
Hi @renardeinside , yes thanks, I'll close the issue.

[2021-04-17 12:28] #33 closed

[2021-04-19 11:13] jessiebwatson opened #37 "[BUG] Unable to change the artifact location from default"
## Expected Behavior
When running `dbx deploy` files should be pushed to chosen artifact location e.g. dbfs:/dbx/{addition_to_path}/{current_folder_name}
## Current Behavior
Always pushes the files to the default file path, even if the project.json artifact location has been changed
e.g. dbfs:/dbx/{current_folder_name}
## Steps to Reproduce (for bugs)
1. Change the project.json artifact location
2

[2021-04-19 21:58] renardeinside commented on #37
Hi @jessiebwatson ,
thanks for opening this issue. I'll take care of it.

[2021-04-30 05:46] jspreddy opened #38 "[FEATURE] dbx launch --parameter parsing fails when param is a json string"
## Expected Behavior
When providing --parameters to a launch, I expect I can provide a json string like this:
[code]
OR multiple like this:

[code]
I expect this to work. Because the underlying `databricks jobs run-now --python-params` works with an array of json strings. i.e.` '["{\"name\": \"sai\", \"age\": 999}", "{\"name\": \"Mojo jojo\", \"age\": 10}"]'`

## Current Behavior
Fails with this e

[2021-04-30 12:11] renardeinside commented on #38
hi @jspreddy ,
thanks a lot for raising this issue. I marked this as enhancement since JSON string support is something new on the platform.

[2021-04-30 18:08] jspreddy commented on #38
Which API version does dbx work with?

[2021-05-04 00:17] jspreddy opened #39 "[FEATURE] Please support defining the deployment in yaml instead of json."
## Current Behavior
The deployment is defined in `conf/deployment.json`.

JSON is cumbersome to read and write. Not to mention it causes duplication of config.

## Context
1. I want to be able to not duplicate config.
2. I want to extract common config and include it in the job definitions.
3. I want to reduce human error when configuring the jobs.
4. I want to be able to extend/add functionality

[2021-05-15 15:12] renardeinside commented on #37
hi @jessiebwatson ,
unfortunately, this issue cannot be directly fixed since MLflow has no direct method for changing the artifact location after experiment creation. Therefore, dbx will raise exception when artifact_location is not matching between project.json and experiment.

[2021-05-15 15:13] renardeinside commented on #37
Blocked by [this](https://github.com/mlflow/mlflow/issues/3719) issue on mlflow.

[2021-05-15 15:13] #37 closed

[2021-05-17 09:01] renardeinside commented on #36
hi @dimi-kr ,
please find policy propagation implementation in version 0.1.3 [here](https://dbx.readthedocs.io/en/latest/properties_propagation.html).

[2021-05-17 09:01] #36 closed

[2021-05-17 09:02] renardeinside commented on #38
hi @jspreddy ,
please use the `--parameters-raw` argument, available in 0.1.3 and documented [here](https://dbx.readthedocs.io/en/latest/cli.html#cmdoption-dbx-launch-parameters-raw).

[2021-05-17 09:02] #38 closed

[2021-05-17 09:26] renardeinside commented on #39
hi @jspreddy ,

would you like to volunteer and provide a PR with implementation?

[2021-05-20 07:42] allebacco opened #46 "[FEATURE] Add support for getting the current branch name within GitLab CI"
## Expected Behavior

When calling the `get_current_branch_name()` function during a deploy executed within a GitLab-CI job, the function returns the current branch name.

## Current Behavior

When calling the `get_current_branch_name()` function during a deploy executed within a GitLab-CI job, the function returns `None`.

## Context

I am calling `dbx deploy` within a GitLab-CI job. The name of

[2021-05-20 09:12] renardeinside commented on #46
hi @allebacco ,

thanks a lot for raising this issue.
Would you like to volunteer and propose a PR?

[2021-05-20 09:43] allebacco commented on #46
hi @renardeinside ,

I will try to propose a PR in the next days.

My idea is to add a `--branch-name` argument to the `deploy` command. In this way I am not targeting only the GitLab CI use case but all the use cases in which the branch name should be provided.

[2021-05-20 10:49] renardeinside commented on #46
thanks a lot @allebacco ,
The only thing I possible would like to mention - `--branch-name` parameter shall be optional, and it shall be defined both for deploy and launch commands. If the parameter is not provided, we pick branch name using logic in `get_current_branch_name()` function. Does that make sense from your perspective?

[2021-05-20 11:37] allebacco commented on #46
Yes, It make sense.

So just to recap the requirements:
* the name of the parameter should be `--branch-name`
* the parameter should be added to `deploy` and `launch` commands
* the parameter should be optional
* if not provided (or empty string), fallback is to call the `get_current_branch_name()` function for getting a branch name, like in current implementation

[2021-05-25 12:30] kiranvasudev opened #48 "[BUG] Spark python task does not make use of --parameters on dbx execute"
## Expected Behavior

Using `dbx execute --job=cicd-sample-project-sample --cluster-name=test-cluster` should take the parameters for the spark python task which is part of the `deployment.json`.

## Current Behavior
Using `dbx execute --job=cicd-sample-project-sample --cluster-name=test-cluster` **does not** take the `spark-python-task` parameters from `deployment.json`

## Steps to Reproduce (fo

[2021-05-25 18:23] renardeinside commented on #48
hi @kiranvasudev ,
I'll take care of this issue, thanks a lot for raising it.

[2021-06-03 08:37] andompesta opened #49 "[BUG] version package uploaded"
## Expected Behavior
If I generate a different version of my package to deploy. For example, if I move from version 0.0.1 to 0.0.2 I expect to deploy on the cluster version 0.0.2, not 0.0.1.
This work only if I manually delete from the `dist` folder the wheel package relative to version 0.0.1.

## Current Behavior
If I generate 2 wheel packages for different version of the same library, the old ve

[2021-06-07 07:34] allebacco commented on #49
This is probably due to the [`get_package_file()`](https://github.com/databrickslabs/dbx/blob/b1121387ee57f15f925588c88f7abe35e192b394/dbx/utils/common.py#L256) function that returns only the first wheel file in the `dist` folder.

So it seems that only a single wheel can be deployed at a time. The best approach is to always cleanup the `dist` folder before any deploy.

[2021-06-09 09:04] renardeinside opened #50 "[FEATURE] Generalize file paths and add options for FUSE path substitution"
## Expected Behavior

Currently, the logic of transforming local paths into dbfs:/ based paths is missing well-defined rules and misses options for /dbfs/ substitutions.
Would be great to implement the following:
[code]

[2021-06-14 22:33] renardeinside commented on #49
We need to add version-based sorting to the`get_package_file`. Let's include this into 1.0.4, fix shall be quite easy.

[2021-06-14 22:37] renardeinside opened #53 "[DOC] Add example deployment JSON for GCP"
Since we support GCP, we also need to add an example of `deployment.json` to the documentation.

[2021-06-14 23:05] #46 closed

[2021-06-16 15:30] renardeinside commented on #53
Will be released on 0.1.4, closed in #55

[2021-06-16 15:30] #53 closed

[2021-06-22 07:15] renardeinside commented on #48
hi @kiranvasudev , thanks a lot for raising the issue - closed in #56 , will be released in 0.1.4

[2021-06-22 07:15] #48 closed

[2021-06-22 07:15] renardeinside commented on #49
hi @andompesta , thanks a lot for raising the issue - I've fixed it in #56 , will be released in 0.1.4

[2021-06-22 07:15] #49 closed

[2021-06-22 13:23] kiranvasudev commented on #48
@renardeinside Thanks a lot !

[2021-07-05 18:30] renardeinside commented on #50
This issue needs a bit deeper rework of dbx, we'll include it into 0.1.5.

[2021-07-22 07:40] renardeinside opened #60 "[FEATURE] add better error message for cases when hostname cannot be parsed"
## Expected Behavior
When the hostname variable is provided in an incorrect way, an error message shall point towards the issue.

## Current Behavior

Currently the error message is misleading and doesn't really show the root cause:

[code]

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* dbx version used: 0.1.4
* Databricks Runtime version: N/A

[2021-07-28 10:59] jiri-vinarek opened #61 "[FEATURE] Add support for multi-task jobs"
## Expected Behavior

When deployment configuration contains a [job with multiple tasks](https://docs.databricks.com/data-engineering/jobs/index.html?_ga=2.135171313.1582492801.1626868583-172358963.1612518345) a valid configuration is generated and deployed to the cluster.

## Current Behavior

The deployed configuration is invalid for a multi-task job. Libraries (`libraries` JSON object) specifie

[2021-08-12 17:46] renardeinside commented on #39
Just released in 0.1.5. Thank you @jspreddy for investing your time into this and making the whole implementation! 🔥

[2021-08-12 17:46] #39 closed

[2021-08-12 21:13] jspreddy commented on #39
The changelog is not properly updated for the release.

[2021-08-13 10:26] renardeinside opened #68 "[IMPROVEMENT] Raise coverage up to 80%"
## Explanation

New requirements to the labs' projects are enforcing an 80% level of code coverage.

PR addressing this issue shall enforce codecov checks AND improve coverage up to 80%.

[2021-08-19 21:59] chasdevs opened #70 "[Bug] Deploy removes any packages starting with "pyspark"."
## Expected Behavior

I can install a package starting with "pyspark" (but not the "pyspark" package) without dbx stripping it during deploy.

## Current Behavior

dbx removes any packages in the provided `--requirements-file` starting with "pyspark"

## Steps to Reproduce (for bugs)

Add a package called "pysparktools" to _requirements.txt_ and deploy it using `--requirements-file`. Look for the

[2021-08-23 16:07] #70 closed

[2021-08-31 14:31] mshtelma opened #74 "[BUG] Custom tags are being replaced during deployment"
## Expected Behavior
DBX created/updates a job def. with custom tags exactly as they were specified in the deployment.json

## Current Behavior
DBX changes some custom tags if their value is the same as project dir.

## Steps to Reproduce (for bugs)
Create custom tag with the value the same to the project dir

[2021-09-08 15:29] tamer-abdulghani opened #75 "[FEATURE] Add support to create a new job instead of update existing"
## Expected Behavior

Suppose we have 2 users on Azure Databricks (Mary and John),:
Mary (mary@abc.com) deploys a job with name "dev-pipeline" on databricks.
John (john@abc.com) works on different project and he wants to deploy a job with the same name "dev-pipeline" on databricks.

I'm expecting to have two different jobs created on databricks related to two different users

## Current Behavior

[2021-09-09 18:18] dumontvi opened #77 "[FEATURE] Add support for environment variable substitution in deployment.yaml or deployment.json"
## Expected Behavior
Given a deployment file like:
![Screen Shot 2021-09-09 at 3 32 24 PM](https://user-images.githubusercontent.com/20103067/132751082-9c2ec9e6-3cb6-4c29-b8ca-0d4feb6dff46.png)

it would be beneficial to enable environment variable substitution during runtime like `${{ALERT_EMAIL}}` in the image above. The environment variable can be set by the CICD tool like `DATABRICKS_TOKEN` or

[2021-09-11 17:06] renardeinside commented on #61
Implemented in #78 (thanks a lot @jiri-vinarek ).

P.S. I've squashed all commits since your initial commit was unsigned (and I don't know how to sign a single existing commit - I've tried to do that and accidentally deleted your PR).

[2021-09-11 17:06] #61 closed

[2021-09-11 21:25] renardeinside commented on #60
Implemented in #79

[2021-09-11 21:25] #60 closed

[2021-09-12 12:21] renardeinside commented on #50
Implemented in #81 , will be released in 0.2.0

[2021-09-12 12:21] #50 closed

[2021-09-12 12:21] renardeinside commented on #74
Implemented in #81 via strict path policy, will be released in 0.2.0

[2021-09-12 12:21] #74 closed

[2021-09-12 12:41] renardeinside commented on #75
hi @tamer-abdulghani ,

I would probably say that this looks to me like a wrong pattern.

* If users would like to deploy different jobs - they shall provide different job names inside the deployment config file.
* If users just want to launch a job without updating the existing job, they could use run-submit-based logic as described [here](https://dbx.readthedocs.io/en/latest/run_submit.html).
*

[2021-09-12 13:57] tamer-abdulghani commented on #75
But what if these two users work on two different teams in large organization and they don't know each other.
If one user is going to submit a job with same name that will be a mess if it's going to update other people's jobs, right ?

[2021-09-12 14:11] renardeinside commented on #75
If one user is going to submit a job with same name that will be a mess if it's going to update other people's jobs, right ?

Such cases shall be controlled by using [Job Permissions API](https://dbx.readthedocs.io/en/latest/permissions.html) and group-level permission settings.

It's definitely not a task of the CLI tool to manage an org-wide job duplication, would you agree? :)

[2021-09-12 15:52] renardeinside commented on #77
implemented in #80, will be released in 0.2.1. thanks a lot for your contribution @dumontvi !

[2021-09-12 15:52] #77 closed

[2021-09-13 07:41] renardeinside opened #83 "[FEATURE] Implement automated replacement for _id based attributes"
Currently, users are forced to know some _id based properties, namely:
* existing_cluster_id
* instance_pool_id

Would be much better to have an automated conversion from `*_name` to `*_id`.

[2021-09-13 12:25] tamer-abdulghani commented on #75
Even using job permissions API, I'm still having this problem..
https://dbx.readthedocs.io/en/latest/permissions.html

- Create a new job called `data-pipeline` with permission (Mary is owner), deployment json is the following:

[code]

- Create a new job called `data-pipeline` with permission (John is owner), deployment json is the following:

[code]

John is working in another team that is not r

[2021-09-13 12:37] renardeinside commented on #75
this means that either `john@abc.com` has unlimited admin permissions in the workspace or [job ACLs](https://docs.databricks.com/administration-guide/access-control/jobs-acl.html) are not enabled.

[2021-09-20 14:57] niall-turbitt opened #84 "[FEATURE] Add support for multi-task jobs inside dbx execute"
## Expected Behavior
Running a multi-task job is currently (dbx=0.2.0) only possible using dbx deploy followed by dbx launch. As such, to run a multi-task job requires specifying a new cluster to be created and launched for each task. Given that dbx execute allows execution of standard jobs against existing clusters, one would expect the ability to run a multi-task job against an existing cluster.

[2021-09-20 15:00] renardeinside commented on #75
hi @tamer-abdulghani ,

Do you need any further support on this issue? Have you had a chance to verify that the security setup works correctly for you?

[2021-09-22 18:03] Abhendu21 opened #85 "DBX execute/launch command issue - issue getting the result"
## Expected Behavior

To run execute/launch command and to get the result

## Current Behavior

I am trying to implement databricks cicd.
when I am running the execute/launch command, I am getting the following error. could you please help me to solve the issue. Also where can I learn about the entrypoint and the python coding that is done inside it. I need to get output of the launch and execute

[2021-09-22 18:32] renardeinside commented on #85
Hi @Abhendu21 ,

how do you configure the databricks token & host - via environment variables, or via `~/.databrickscfg` (by using the profile name)?

[2021-09-22 18:35] renardeinside commented on #85
In both cases, please verify that the host string looks like this:

`host=https://{domain}`

**without** any o={orgId} postfix.

We've seen this exception when in the profile the host=https://{domain}/?o={orgid} format is used for Azure. It is valid for the databricks cli, but not for the API. If that's the cause, once the "?o={orgid}" suffix is removed, the problem should be gone.

[2021-09-22 19:10] Abhendu21 commented on #85
Thanks Ivan, it  surely worked like a charm for me.
I have a different question, but I will post it in a different issue. For now I can happily close this issue.
Many thanks for the quick help :)

[2021-09-22 19:10] #85 closed

[2021-09-28 13:04] Abhendu21 opened #86 "[DISCUSSION] Organizing different trigger conditions with Github Actions"
I was going through the DBX CICD repository as below -
databrickslabs/dbx: CLI tool for advanced Databricks jobs management. (github.com)
I have a python project where I have done CI integration and testing framework as per DBx project suggestion. Now I want to perform promotion of the project based of tag creation in each environment (for dev to sit a promotion of code will happen when a tag t-*

[2021-09-28 13:24] renardeinside commented on #86
Hi @Abhendu21 ,

this is not directly related to dbx (dbx is just a deployment mechanism in this case.

You can set up such rules in your Github Actions, for instance:
1. Define environment variables for each environment (workspace):
[code]

2. Define different GitHub pipelines per each environment:

[code]

3. switch between different variables (for example, for dev):

[code]

I would recommend r

[2021-09-29 12:17] renardeinside commented on #75
closed since there is no activity. please re-open if needed.

[2021-09-29 12:17] #75 closed

[2021-10-06 08:51] max-mayrhofer opened #88 "[ISSUE] Honoring provided job names when deploying to databricks"
## Expected Behavior

In the deployment.json/yaml file, the job name for each job is specified. On deploying to databricks, the expectation is that a job with the same name is deployed, and overwritten if necessary.

## Current Behavior

Currently, dbx deploy creates a new job with a name corresponding to the full path of the artifact directory and a UUID. This creates a large number of hard-to-di

[2021-10-06 11:31] renardeinside commented on #88
hi @max-mayrhofer ,
it seems to me that the issue is that the local path is getting referenced incorrectly.
Could you please try the strict path adjusting functionality as described [here](https://dbx.readthedocs.io/en/latest/path_adjustment.html)?

[2021-10-06 12:40] renardeinside commented on #86
Hi @Abhendu21 ,
since the question is not really related to dbx, I'll close the ticket. Please feel free to create another issue if the problem won't be resolved.

[2021-10-06 12:40] #86 closed

[2021-10-06 15:04] max-mayrhofer commented on #88
That worked!! Thank you so much!! Weird though that it would have happened like that. Why would this be the reason that the job name is what it is?

[2021-10-06 16:46] renardeinside commented on #88
oh, it's a deep issue, but I'll try to explain.

The non-strict path adjustment logic simply walks through all values in the deployment configuration and if the value is recognized as a path, it will be replaced with dbfs:/... prefix. Since you probably have a folder that is equal to the job name, it thinks it's a path which needs adjustment.
With strict path adjustment, it only works with strings

[2021-10-06 16:46] #88 closed, assigned to nobody

[2021-10-21 15:04] kiranvasudev opened #91 "[BUG] Stuck at creating a new context when running dbx execute"
## Expected Behavior
`dbx execute` should run the job specified in the deployment configuration using the format mentioned in [this link](https://github.com/databrickslabs/cicd-templates#deployment-file-structure)

## Current Behavior
On running `dbx execute`, it gets stuck as shown below. The last time `dbx execute` was stuck for ~6 hours.

![image](https://user-images.githubusercontent.com/16002

[2021-10-27 09:53] bartoszgajda55 opened #92 "[BUG] DBX fails to read environment variables"
Hi everyone, I am having a slight problem with dbx not able to read environment variables in both JSON and YML

## Expected Behavior
I would like my deployment definitions (in both JSON and YML) to correctly read and inject the environment variables.
## Current Behavior
I have created two deployment files - JSON and YML - and declared the use of environment variables like this:
[code]

When issuin

[2021-10-27 12:58] #92 closed, assigned to nobody

[2021-11-04 23:24] renardeinside commented on #91
Hi team, this is fixed in 0.2.1, please update your versions. Thank you for pointing out the bug.

[2021-11-04 23:24] #91 closed

[2021-11-05 09:26] renardeinside opened #95 "[ISSUE] CLI commands are a bit slow"
## Current Behavior

Even getting a simple `dbx --help` takes quite a long time (comparison with the main CLI shows that dbx is **5.8 times slower** ):

[code]

Would be great to debug why it works in this way and how to improve it.

* dbx version used: 0.2.1
* Databricks Runtime version: N/A

[2021-11-08 14:54] norbertmwk opened #96 "[QUESTION] Is dbx capable to update jar-based library on existing cluster?"
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

## Context

In my use case I need to work at one cluster instead of creating new for each job due to security requirements (cluster must be located in specific vnet).
According to this [docs page](https://docs.databricks.com/libraries/cluster-libraries.html#update-a-cluster-installed-library) the only way to update cluste

[2021-11-08 15:01] renardeinside commented on #96
hi @norbertmwk ,

It's possible with dbx, but it's a painful workaround.

1. add library location as a separate file argument:
[code]

2. Add the following to your entrypoint:
[code]
3. always add this option to deploy command: `--no-package`

[2021-11-08 15:18] rfcortes opened #97 "[QUESTION] mlflow integration with dbx"
Hello everyone,

We would like to know if you've got examples of using mlflow within a dbx deployment?

Thanks in advance,

[2021-11-08 15:18] norbertmwk commented on #96
oh I forgot to mention that I'm using scala and I actually need to update compiled locally jar file

[2021-11-08 15:41] renardeinside commented on #96
I would assume this is impossible since you cannot change a compiled dependency in runtime, but I might be wrong.
Asking for the help of the wisest @alexott ;)

[2021-11-08 15:42] renardeinside commented on #97
Hi @rfcortes , you can use any MLflow related API inside your code, there are no specifics in relation to dbx deployment.

[2021-11-08 15:46] rfcortes commented on #97
thanks @renardeinside

[2021-11-08 15:48] #97 closed

[2021-11-08 16:27] alexott commented on #96
To uninstall library cluster restart is required

[2021-11-10 10:33] renardeinside commented on #96
hi @norbertmwk ,
I've checked and yes - there is no other way for jar-based libraries than the one you've outlined. You can use the databricks CLI to automate these steps (uninstallation/restart).

[2021-11-10 10:33] #96 closed

[2021-11-12 23:13] renardeinside opened #98 "[ISSUE] execute processes the parameters incorrectly when strict adjustment is enabled"
## Expected Behavior
Execute shall correctly process references in deployment.json when strict adjustment is enabled (example):
[code]
## Current Behavior
execute logic fails to resolve the upload since is_strict was not properly inherited.

## Your Environment

* dbx version used: 0.2.1
* Databricks Runtime version:  N/A

[2021-11-13 10:13] renardeinside commented on #98
Will be released in 0.2.2

[2021-11-13 10:13] #98 closed

[2021-11-24 15:00] pingu1m opened #101 "[DISCUSSION] Question about environment variables in yaml deployment file"
## Expected Behavior

On this docs page (https://dbx.readthedocs.io/en/latest/quickstart.html?highlight=env#id2)

There is a note that says: "Unlike JSON, in YAML you have to specify the !ENV tag before your environment variables for it to be resolved in a valid manner."

I have tried to do this on my yaml but it is not working. Could you guys help me out with a working example?

deployment.yaml
[

[2021-11-24 17:44] pingu1m commented on #101
Update:
I was able to get it working after debugging the source code.

For anyone that have the same issue here is the working code.

[code]

As you can see  all it is needed is the   ENV_NAME:DEFAULT_VALUE inside the ${}. Ex: ${ENVIRONMENT:DEVELOPMENT}

Hope it helps someone else.

Is this a documentation problem or an implementation problem? I can push a PR but I need to know what to fix.

[2021-11-24 19:24] renardeinside commented on #101
Hi @pingu1m ,
Thanks a lot for providing the fix!

It's a documentation problem, please feel free to contribute to the doc, and please take a look at the updated contribs policy.

[2021-11-24 19:26] renardeinside commented on #101
Hi @pingu1m ,
please take a look at the example in the testing suite:
https://github.com/databrickslabs/dbx/blob/master/tests/deployment-configs/04-yaml-with-env-vars.yaml

[2021-11-25 23:07] renardeinside commented on #101
hi @pingu1m ,
have you tried applying the example from the testing suite? Would it make sense to actually include these snippets into the main doc?

[2021-11-27 05:21] hendrikfrentrup commented on #101
This seems to be a version issue - ruamel.yaml throws the following error with dbx v0.2.0:

[code]

It works as expected with the following dependencies/versions:

* ruamel.yaml `0.17.17`
* databricks CLI 0.16.2
* dbx `0.2.1`

[2021-11-29 15:35] KrzysztofDobosz opened #102 "[BUG] Datafactory reflect fails on jobs with existing_cluster_id defined"
## Expected Behavior

Steps in ADF pipeline are updated.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)

1. Use exemplary job. Change conf/deployment.json to use existing_cluster_id.
2. Run `dbx deploy --files-only --write-specs-to-file=.dbx/deployment-result.json`
3. Run `dbx datafactory reflect --specs-file=.dbx/deployment-result.json --subscription-name *** --resource-group ***

[2021-11-30 10:57] renardeinside commented on #102
hi @KrzysztofDobosz , thanks a lot for opening the issue. I'll provide a fix and it will be included in 0.2.2 release.

[2021-11-30 10:58] renardeinside commented on #101
hi @hendrikfrentrup ,
this seems to me like a library conflict issue, I'll add version enforcement into the dbx setup.py  in the 0.2.2 release.

[2021-12-01 14:06] KrzysztofDobosz opened #103 "[FEATURE] Add support for scala spark_jar_task in dbx datafactory reflect"
## Expected Behavior
According to the docs (and the code), currently only spark_python_task is supported in dbx datafactory reflect command. Scala jars are already supported for deployment and updating Jar activity in a similar way should be easy to implement.
## Current Behavior
[code]
## Steps to Reproduce (for bugs)
Run `dbx datafactory reflect` on job defined here: [https://github.com/renardei

[2021-12-02 16:58] renardeinside commented on #101
this issue is adressed in #105

[2021-12-02 16:58] #101 closed

[2021-12-03 09:59] #83 closed

[2021-12-03 10:29] renardeinside commented on #102
resolved in #107

[2021-12-03 10:29] #102 closed

[2021-12-03 10:44] renardeinside commented on #103
added in #108 , will be released in 0.2.2

[2021-12-03 10:44] #103 closed

[2021-12-06 17:01] renardeinside opened #109 "[FEATURE] Add named parameter for driver instance pool"
Idea: add named driver instance pool parameter into the job definition.

[2021-12-07 18:50] renardeinside commented on #109
added in #110

[2021-12-07 18:50] #109 closed

[2021-12-10 11:30] michal-szklarczyk commented on #95
Not sure if this is related but I noticed a significantly longer time of deploying job with YAML(~14m) configuration than JSON (~10s).

- dbx version used: 0.2.0 and 0.2.2

[dbx][2021-12-10 11:36:21.829] Starting new deployment for environment b2s_jobs_prod
[dbx][2021-12-10 11:36:21.836] No environment variables provided, using the ~/.databrickscfg
[dbx][2021-12-10 11:36:23.423] Re-building packag

[2021-12-10 15:58] michal-szklarczyk opened #111 "[ISSUE] longer job deployment with YAML configuration"
## Expected Behavior
Job deployment time using YAML configuration is similar to deployment time using JSON configuration
## Current Behavior
- job deployment time with JSON configuration - 10sec
dbx deploy --jobs=b2s_dim_business_hubspot --environment=b2s_jobs_prod --deployment-file=conf/deployment_prod.json
[dbx][2021-12-10 09:07:23.217] Starting new deployment for environment b2s_jobs_prod
[dbx]

[2021-12-13 09:28] renardeinside commented on #111
hi @michal-szklarczyk ,

I see the following lines in the log you've provided:
[code]

It seems to me you need to enable the path adjustment logic and adopt your YAML as described [here](https://dbx.readthedocs.io/en/latest/path_adjustment.html).

[2021-12-13 13:01] rfcortes opened #112 "[ISSUE] dbx execute - log print"
## Expected Behavior
dbx execute: print logs to standard output from Databricks CICD templates job

## Current Behavior
Logs do not print to standard output

## Steps to Reproduce (for bugs)
define job with log and execute

[code]

## Context

## Your Environment

* dbx version used:  version ~> 0.2.2
* Databricks Runtime version: 9.1 LTS

[2021-12-13 13:16] renardeinside commented on #112
hi @rfcortes ,
currently exporting logs on the flight via API from the clusters is not supported by the platform itself (it's not the limitation of dbx). You can see your logs in the Cluster logs tab, or by exporting them into your logging analysis solution. I would recommend reaching out to your Solutions Architect for further guidance.

[2021-12-13 13:16] #112 closed

[2021-12-13 14:56] michal-szklarczyk commented on #111
Hi @renardeinside,
Thank you for your fast response.
My problem was related to evaluating empty string in email_notification section:
Bad solution:
![obraz](https://user-images.githubusercontent.com/91941928/145832245-4d07c0c2-80a8-4279-a762-1930f803071f.png)

Good:
![obraz](https://user-images.githubusercontent.com/91941928/145834534-3c36f4ac-6839-4bd8-a8cc-8b1f390ed4c8.png)

I also noticed some

[2021-12-13 15:09] renardeinside commented on #111
it shall look like this - I'll update the doc:
[code]
Thank you for pointing this out @michal-szklarczyk

[2021-12-13 20:07] renardeinside commented on #111
documentation issue is addressed in #113
thanks a lot for pointing this out @michal-szklarczyk 👍

[2021-12-13 20:07] #111 closed

[2021-12-13 20:20] renardeinside opened #114 "[FEATURE] Merge cicd-templates into the dbx"
## Feature summary

[cicd-templates](https://github.com/databrickslabs/cicd-templates) are actively used across multiple users, but supporting two interconnected repositories is hard. Repositories were disconnected mainly due to various legacy reasons that arose at the time of project releases.

Since in most cases users of cicd-templates also use dbx, it makes sense to add cicd-templates function

[2021-12-20 15:36] KrzysztofDobosz opened #116 "[BUG] Datafactory reflect removes parameters from updated pipelines and activities"
## Expected Behavior

Activities in ADF pipeline are updated, leaving existing parameters as they are. Pipeline parameters are unchanged.

## Current Behavior

When `datafactory reflect` updates existing activities in ADF pipeline, parameters of updated activities are removed. Also parameters of the whole pipeline disappear (probably variables disappear as well, I didn't check that).

## Steps to

[2021-12-20 20:28] renardeinside commented on #116
hi @KrzysztofDobosz , thanks a lot for reporting the bug, I'll take care of this one. Potential release is 0.3.0

[2022-01-05 18:38] renardeinside commented on #114
released in 0.3.0

[2022-01-05 18:38] #114 closed

[2022-01-06 13:57] renardeinside commented on #95
The main reason - imports of `mlflow` and `pandas` are taking quite a long time (approx. 2 seconds). Since these libraries are in the core, esp. `mlflow`, there is no potential way to make it faster.

[2022-01-06 13:57] #95 closed

[2022-01-06 16:11] Vakha opened #120 "[BUG] Launch multitask job with parameters"
## Expected Behavior
Command `launch` and `launch` with `--as-run-submit` should be able to override parameters on multi-task job.

## Current Behavior
Command `launch` and `launch` with `--as-run-submit` fail to override parameters on multi-task job.

## Steps to Reproduce (for bugs)
### For RunNow:
1. Create multi-task job/
2. Deploy.
3. Launch with parameter provided by `--parameters` or `--par

[2022-01-07 15:01] adleonar opened #121 "[BUG] Issue with encoding :sparkles: character when running dbx deploy command"
## Expected Behavior
Deployment finishing successfully

## Current Behavior
Error
UnicodeEncodeError: 'charmap' codec can't encode character '\u2728' in position 88: character maps to "undefined"

## Steps to Reproduce (for bugs)
Running dbx deploy

## Context
When running "dbx deploy" command there is an error just after
"Updating job definitions - done"  log
and before
"Deployment for environmen

[2022-01-07 15:39] renardeinside commented on #121
HI @adleonar ,

thanks for raising the issue! I wasn't expecting that problem with emoji's :)
I'll take care of this one.

[2022-01-11 17:36] elenamartina opened #123 "[FEATURE] Add Support for `Jinja2` Deployment Files"
## Expected Behavior
It would be beneficial to be able to define environment variable specific logic within a deployment file, with if statements, for loops, filters and other functionality that Jinja2 allows. This would enable, for example, the same job deployment configuration file to be reused for different scopes and environments and would improve code reusability.

This functionality would al

[2022-01-12 20:14] renardeinside commented on #121
fixed in the above-mentioned PR, will be released in 0.3.1. Thanks for raising the issue @adleonar !

[2022-01-12 20:14] #121 closed

[2022-01-12 20:14] renardeinside commented on #68
closed due to lack of time and potential changes in the project structure.

[2022-01-12 20:14] #68 closed

[2022-01-13 14:05] adleonar commented on #121
No problem @renardeinside ! Thank you for fixing it

[2022-01-15 12:48] alapinsk opened #127 "[BUG] Azure Data Factory reflect AttributeError SubscriptionClient has no attribute subscriptions"
## Steps to Reproduce (for bugs)
Running command
 ```dbx datafactory reflect```
results in ```AttributeError: 'SubscriptionClient' object has no attribute 'subscriptions'```

## Stack trace
[code]

## Reason
Attribute was renamed from ```subscriptions``` to ```subscription``` in ```azure-mgmt-subscription==2.0.0```
[subscription_client.py#L66](https://github.com/Azure/azure-sdk-for-python/blob/mai

[2022-01-15 12:58] renardeinside commented on #127
thank you for reporting the bug @alapinsk ! Please feel free to contribute a fix, afaik you've already found the root cause :)

[2022-01-18 20:25] pgorsira opened #129 "Are there plans to integrate Delta Live tables / pipelines into dbx?"
It would be nice to be able to declaratively describe delta live pipelines with dbx the same way we can do so with jobs. Just wondering if this is on the roadmap.

[2022-01-19 00:01] mikelese opened #130 "Small typo in docs"
## Expected behavior

## Current Behavior

## Steps to Reproduce (for bugs)

See docs page:

https://dbx.readthedocs.io/en/latest/cli.html

[2022-01-24 16:22] cristianoperez opened #134 "Support --no-package for a specific task in multitask"
## Expected Behavior

deployment.yml

[code]

`dbx deploy --jobs multitask-job-sample --no-package-task multitask-job-sample/task2`

task1 should have `dbfs:/Shared/dbx/projects/pyspark_jobs/.../job.whl` as Dependent Libraries
task2 shouldn't have

## Current Behavior

`dbx deploy --jobs multitask-job-sample`

dbx put the `.whl`as Dependent Libraries for both tasks

or

`dbx deploy --jobs multitas

[2022-01-24 20:11] IamSandeepGunda opened #135 "[BUG] dbx deploy fails when multiple jobs/tasks use the same conf file in parameters."
Sample YAML File (Cookie-Cutter):
[code]

## Expected Behavior
Deploying a job should result in the following message:

dbx deploy --deployment-file conf/deployment.yml --jobs test-dbx-sample

[code]

## Current Behavior
Now, if I deploy multiple jobs, that need the same conf file, or a job with multiple tasks needing the same conf file, then deployment fails with below error:

[code]

## Steps to

[2022-01-25 12:28] Teun-Roefs opened #136 "[BUG] DBX CLI creating jobs that already exist, causing duplicates"
## Expected Behavior
Executing: `dbx deploy --deployment-file ../xxx/jobs/deployment.yaml --no-rebuild -e MOD`
[code]

1. DBX deploying the deployment.yaml file and selecting the right environment
2. DBX CLI checking for existing jobs in the workspace
3. DBX only creating jobs if they do not exist yet, else create
4. Rinse and repeat

## Current Behavior
1. DBX deploying the deployment.yaml file a

[2022-01-25 20:56] renardeinside opened #138 "policy_name is not propagating in multitask jobs"
## Expected Behavior
`policy_name` shall be correctly propagated towards tasks inside multitask_jobs definitions

## Current Behavior
This property is ignored in multitask jobs

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* dbx version used: 0.3.0
* Databricks Runtime version: N/A

[2022-01-27 09:51] renardeinside commented on #136
hi @Teun-Roefs ,
thanks a lot for raising this issue!
I've provided a fix and this will be covered in 0.3.1

[2022-01-27 09:51] #136 closed

[2022-01-27 09:57] 7ose opened #141 "Unneeded argument "--deployment-file" on "dbx launch" command at integration tests"
## Expected Behavior
python_basic template uses dbx launch for running integration tests without error.

## Current Behavior
When trying to do integration tests, I get the following error

[code]

dbx launch doesn't have or need the --deployment-file option

## Steps to Reproduce (for bugs)
* Use dbx to create a new proyect based on python_basic template
* Set your DATABRICKS_HOST and DATABRICKS_T

[2022-01-27 18:50] #135 closed

[2022-01-27 18:51] renardeinside commented on #135
hi @IamSandeepGunda ,
this is fixed and will be released in 0.3.1 . Thanks for reporting the bug!

[2022-01-27 18:54] IamSandeepGunda commented on #135
Thanks for taking care of this swiftly @renardeinside! May I know when I could expect 0.3.1?

[2022-01-27 19:03] renardeinside commented on #135
I would hopefully say it's the 1st of February :)

[2022-01-27 20:53] renardeinside commented on #138
resolved in linked issue

[2022-01-27 20:53] #138 closed

[2022-01-27 21:22] renardeinside commented on #141
resolved in the referenced PR, will be released in 0.3.1, thanks for raising this one @7ose!

[2022-01-27 21:22] #141 closed

[2022-01-27 21:31] renardeinside commented on #129
Hi @pgorsira,

currently, DLT doesn't support local-based development (only in the notebooks).
Therefore dbx doesn't support DLT at the moment. As soon as DLT will be supported in external environments, it will be available in dbx.

[2022-01-27 21:31] #129 closed

[2022-01-28 13:57] renardeinside commented on #116
Hi @KrzysztofDobosz ,

thanks a lot for raising the issue. I've provided a bugfix for this issue, in particular:

This is expected behavior. You shall provide arguments for Databricks jobs inside the deployment file, not in the ADF UI.

This was a bug that I've fixed. It will be released in 0.3.1.

[2022-01-28 13:57] #116 closed

[2022-01-28 13:59] renardeinside commented on #127
hi @alapinsk ,

I've upgraded the ADF dependencies bc I also needed to bugfix some other ADF issues. I'll discard your PR since it fixes the old version. Anyway, thanks a lot for spotlighting the issue! Bugfix will be released in the 0.3.1 version.

[2022-01-28 13:59] #127 closed

[2022-01-31 08:50] giovannipapini opened #148 "Dbx does not uninstall old versions of the same deployed packages"
## Expected Behavior

For new deploys I would expect that dbx uninstalled older versions of the same jars if present in the specified cluster

## Current Behavior

The packages are not only left in dbfs (which I would expect in order to recover them if needed) but also left in the list of installed libraries, creating possible conflicts

## Your Environment

* dbx version used: 0.3.0
* Databricks

[2022-01-31 11:11] allebacco opened #149 "[BUG] The policy_name field can't be resolved in multitask jobs"
## Expected Behavior

`dbx` should beable to resolve `policy_name` in multitask jobs:

## Current Behavior

`dbx` is not able to resolve `policy_name` in multitask jobs with this exception:

[code]

## Steps to Reproduce (for bugs)

The following `deployment.json` file can't be deployed.

[code]

## Context

In this example, the cluster definition is inside the definition of a task, so no `name` f

[2022-01-31 11:21] allebacco commented on #149
Moreover, from looking at the code in
https://github.com/databrickslabs/dbx/blob/88ecefcc6dc026add9523345ad0a2733e08b0b8d/dbx/commands/deploy.py#L316
it seems that the `policy_name` will not be resolved if clusters are defined in the `job_clusters`  field of the Jobs API 2.1.

[2022-01-31 12:28] allebacco commented on #149
Thanks. Is there any timeline for version 0.4.0?

[2022-01-31 12:31] renardeinside commented on #149
I'll release this bug fix today as 0.3.2 - it's relatively small change, upgrade to Jobs API 2.1 shall be a separate PR/issue.

[2022-01-31 13:06] renardeinside commented on #149
released in 0.3.2

[2022-01-31 13:06] #149 closed

[2022-01-31 13:07] renardeinside commented on #148
hi @giovannipapini ,
could you please clarify a bit - this uninstallation doesn't happen on interactive clusters?

[2022-01-31 13:18] giovannipapini commented on #148
Yes: when I deploy a new version of the same jar library I can still see the older version installed on the cluster "Libraries" page, with of course a different source. This thing is repeated each time I perform a new deploy from Azure pipelines, generating a long list of same-name installed libraries. I have to manually uninstall all of them each time, it would be much easier to simply have somet

[2022-01-31 13:55] renardeinside commented on #148
Unfortunately, this is not supported by the interactive clusters logic - jar-library de-installation requires interactive cluster restart. We can implement a logic that adds a re-start step, but in my experience people would prefer using job clusters for such runs.
For example you use local unit-testing setup for quicker development loop, and then launch the code on a job cluster with attached ins

[2022-01-31 13:59] #148 closed

[2022-02-03 05:31] RajVishakh opened #152 "Cannot create python template : Getting TemplateNotFound: conf\deployment.yml"
## Expected Behavior Should get that sample template

## Current Behavior After entering all the details, Getting the below error and the template is not getting generated.
**jinja2.exceptions.TemplateNotFound: conf\deployment.yml
ERROR:cookiecutter.generate:Stopping generation because post_gen_project hook script didn't exit successfully**

## Steps to Reproduce (for bugs)

## Context
Having just

[2022-02-03 06:37] renardeinside commented on #152
Hi @RajVishakh ,

could you please provide the command you've used, as well as the output of this command?

[2022-02-03 06:53] RajVishakh commented on #152
Hi @renardeinside
Command used : **dbx init -p --template=python_basic**

output :

D:\dbx_sample>dbx init --template=python_basic
[dbx][2022-02-03 10:42:25.873] Configuring new project from template python_basic ⚙️
[dbx][2022-02-03 10:42:25.904] No template parameters were provided. Please follow the cookiecutter init dialogue to pass template parameters...
project_name [cicd-sample-project]: Sam

[2022-02-03 08:49] renardeinside commented on #152
Ah, I see - so it's something relevant to Windows, that's why I was unable to reproduce the issue.
I'll take care of this one, thanks @RajVishakh !

[2022-02-03 18:15] renardeinside commented on #152
hey @RajVishakh ,
thanks a lot for raising the issue, it will be released in the 0.3.3 version

[2022-02-03 18:15] #152 closed

[2022-02-04 01:33] SSM-david-lynn opened #154 "Non posix path used during deployment of job on Windows"
## Expected Behavior
Posix paths should be used in the json to create a job when running dbx deploy on Windows

## Current Behavior
Remote paths are being escaped causing the jobs create api to fail with a 400 and error code INVALID_PARAMETER_VALUE

## Steps to Reproduce (for bugs)
test_deploy_path_adjustment_json and test_deploy_path_adjustment_yaml in test_deploy.py fail on windows

## Context
R

[2022-02-04 07:41] renardeinside commented on #154
hi @SSM-david-lynn ,
thanks a lot for opening the issue and providing the bug fix.

[2022-02-04 20:27] castillo-luis opened #156 "Incorrect S3 URI used for remote path during deployment of multitask job"
## Expected Behavior
Correct s3 URI used for uploaded artifacts in job json when running dbx deploy.

## Current Behavior
Artifact path is being added as s3:/bucket/prefix which results in error due to invalid URI. Should be s3://bucket/prefix

Seems to be caused by the use of Pathlib here, which collapses double slashes to single slashes.
https://github.com/databrickslabs/dbx/blob/83a91107ac3676c

[2022-02-04 20:49] renardeinside commented on #156
Hi @castillo-luis ,
could you please mention - do you use the [strict path adjustment policy](https://dbx.readthedocs.io/en/latest/path_adjustment.html)?

[2022-02-04 20:52] castillo-luis commented on #156
You should get the same result, an invalid S3 URI with strict_path_adjustment_policy set to true or false....

[2022-02-04 21:22] renardeinside commented on #156
@castillo-luis ,
Just for my understanding - you have an experiment that's artifact path is registered in s3://some/prefix (not in dbfs://), and when you're working with dbx > 0.3.2 you're getting this issue, right?

[2022-02-04 21:31] castillo-luis commented on #156
right so I have a task like this in my deployment.json

            "spark_python_task": {
              "python_file": "tasks/acquire_data.py",
              "parameters": [

and something like this for the artifact location in project.json
"artifact_location": "s3://bucket/prefix"

with dbx 0.3.0 artifacts get uploaded correctly and local paths are correctly switch out in the job json like this.

[2022-02-04 21:35] renardeinside commented on #156
@castillo-luis ,
I see - thanks a lot for raising this one and explaining the issue. I'll take care of this one.

[2022-02-05 15:59] renardeinside commented on #156
hi @castillo-luis ,
I've fixed this issue and added a test for it. Bugfix will be released in version 0.3.3. Thank you so much for raising the issue!

[2022-02-05 15:59] #156 closed

[2022-02-07 11:56] renardeinside commented on #154
Closed in #157, will be released in 0.3.3.

[2022-02-07 11:56] #154 closed

[2022-02-08 08:17] renardeinside opened #162 "Add support for Jobs API 2.1"
## Expected Behavior

Jobs API 2.1 has been fully rolled out and provides an extensible set of features for job deployment and multitask management.
Most of the cases are well supported by dbx, however, some particular functionality is not properly reflected in terms of adding package/requirements to the deployed job.

TBD:
- Define set of missing functionality
- Provide test-cases
- Cover the fun

[2022-02-08 08:20] renardeinside opened #163 "Add granular launch and deploy settings for multitask jobs"
Some functionality mentioned in #134, #84 and #120 requires deeper design decisions and a systematic approach to the refactoring.

In particular, deploying and launching multitask jobs shall support an extensive set of properties that are currently only passed on the job level, such as:

1. `--no-package` option
2. parameter passing
3. launch of a specific task inside a multitask job
4. execution

[2022-02-08 13:14] rfcortes opened #164 "Add support for cluster reuse inside of multi-tasks jobs"
## Expected Behavior

A job cluster can be referenced and reused inside a multi-task job.
Feature recently introduced in databricks [here](https://docs.microsoft.com/en-us/azure/databricks/data-engineering/jobs/jobs-api-updates) and [here](https://databricks.com/blog/2022/02/04/saving-time-and-costs-with-cluster-reuse-in-databricks-jobs.html)

## Current Behavior
Job cluster can't be reused

## St

[2022-02-08 14:06] #164 closed

[2022-02-08 14:14] rfcortes commented on #164
thanks @renardeinside

[2022-02-08 17:01] renardeinside commented on #164
quick question in this regard @rfcortes,
I've just tested the following setup with 0.3.3 and it works perfectly fine:

[code]
The only thing I've changed in my setup is the following - to enable support for Jobs API 2.1 I've explicitly set it in the databricks configure:
[code]
After it everything works fine with all configurations. Henceforth a question - what cases are not covered here?

[2022-02-08 18:44] renardeinside commented on #130
Thanks for raising the issue! I've resolved in #165

[2022-02-08 18:44] #130 closed

[2022-02-08 20:19] renardeinside commented on #162
documentation updates finished, APIs work as expected.

[2022-02-08 20:19] #162 closed

[2022-02-10 16:45] gmuciaccia-camlin opened #167 "[BUG] Non-strict path adjustment fails if there are empty strings"
## Expected Behavior

When running `dbx deploy` with non-strict path adjustment policy and with a JSON that contains an empty string (see below for an example), the job should be created without error.

## Current Behavior

The command fails with (actual paths have been omitted)

[code]

## Steps to Reproduce (for bugs)

Run `dbx deploy --environment=prod --deployment-file=conf.json --no-rebuild -

[2022-02-10 16:48] renardeinside commented on #167
Hi @gmuciaccia-camlin ,
Thanks a lot for raising this issue, I'll take care of the fix.
The recommended way is to use strict adjustment. The plan is to deprecate and eventually disable non-strict adjustment. Could you please mention - what could be a blocker in your use-case to prevent from using strict adjustment?

[2022-02-10 16:55] gmuciaccia-camlin commented on #167
Hi @renardeinside , I've just become aware of the strict adjustment mode while reading the code, and I'm going to suggest to use it everywhere in our code base.

I only submitted this issue cause I thought it may be useful for people not using it, I did not know there are plans to deprecated it. I agree, strict mode is better.

Thanks for the quick answer.

[2022-02-17 08:57] renardeinside commented on #123
Closed in #124 , will be released in 0.4.0
Thank you so much for contributing to the project @elenamartina !

[2022-02-17 08:57] #123 closed

[2022-02-17 08:57] renardeinside commented on #167
Closed in the referenced PR. thank you so much @gmuciaccia-camlin for reporting this one!

[2022-02-17 08:57] #167 closed

[2022-02-21 19:08] evisser opened #170 "[BUG] Not possible to provide empty strings as base_parameters in jobs"
## Expected Behavior
When adding `param_name: ''` in a jobs deployment yaml/json file as base_parameter I would expect an empty value for that parameter for the job (i.e. when inspecting in the UI).

## Current Behavior
When adding  `param_name: ''` in a jobs deployment yaml/json file as base_parameter the value for that parameter instead becomes something like `dbfs:/dbx/project_name/96181aaa6772

[2022-02-21 19:17] renardeinside commented on #170
Hi @evisser ,

this issue is already fixed and will be released in 0.4.0
For the moment please take a look at [strict path adjustment](https://dbx.readthedocs.io/en/latest/path_adjustment.html)

[2022-02-21 19:42] evisser commented on #170
Hi @renardeinside,

thanks for the quick reply. Adding the parameter mentioned in the link makes it work as expected. Good to hear that a fix is coming in 0.4.0.

[2022-02-21 21:10] renardeinside commented on #170
closing this one since it's fixed but not yet released :)

[2022-02-21 21:10] #170 closed

[2022-02-25 16:09] allebacco opened #171 "[Question] Release 0.4.0 timeline"
Is there any timeline for the 0.4.0 release with full support for APIs 2.1?

Could you consider an intermediate 0.3.4 release in these days with the current features? I think it will very useful with Jinja and improved named properties propagation.

[2022-02-25 17:17] renardeinside commented on #171
Hi @allebacco ,
this sounds like a good idea to me. I'll prepare a 0.3.4 version with current features and release it this weekend.

[2022-02-25 19:39] allebacco commented on #171
Thanks, it will be very useful for my work. I will use it on Monday!

[2022-02-28 09:33] allebacco commented on #171
0.4.0 released, thanks.

[2022-02-28 09:33] #171 closed

[2022-02-28 09:41] renardeinside commented on #120
hey @Vakha ,
It took some time for me to review your PR and it sparked some interest in a more profound refactoring of the whole project. I'm currently working on it, hopefully shall finish by the EOW. Sorry for delays!

[2022-02-28 09:41] renardeinside commented on #163
Points 1/2 covered in 0.4.0, points 3/4 will be added in 0.5.0

[2022-02-28 09:41] #163 closed

[2022-02-28 09:43] renardeinside commented on #134
hi @cristianoperez ,
Feature just released, please take a look at [this docs section](https://dbx.readthedocs.io/en/latest/packaging_and_build.html).
Thank you for raising the issue!

[2022-02-28 09:43] #134 closed

[2022-02-28 16:22] castillo-luis opened #174 "Fix finalize_deployment_file_path method to support .j2 files"
## Expected Behavior
.j2 files are accepted as deployment file and processed as jinja template files

The finalize_deployment_file_path method needs to be fixed like this...to accept the .j2 file extension
https://github.com/castillo-luis/dbx/blob/18612d5e058c32744d7daaac8cbaaaddeac4caab/dbx/commands/deploy.py#L234

## Current Behavior
.j2 files are not recognized as being valid

## Steps to Repro

[2022-02-28 17:10] renardeinside commented on #174
hi @castillo-luis ,
sorry for this one - I'll cover it today and make a bugfix release. For some reason tests didn't catch it.

[2022-02-28 19:31] elenamartina commented on #174
Hi @renardeinside, @castillo-luis, I've just opened a pr to fix this: #175

[2022-03-01 10:02] #174 closed

[2022-03-01 18:09] jspreddy opened #176 "Would this Job service API change be an issue? Deadline: [March 15, 2022]"
Received this email from Databricks. Is this change going to be a problem for dbx?
--------------------

Hi there,

Databricks implemented the following changes to increase the stability and scalability of the Jobs service. All workspaces will receive these changes by March 15, 2022:

- Each new job and run is assigned a longer, unique, numeric, non-sequential identifier.
- The value of the `numbe

[2022-03-01 19:57] renardeinside commented on #176
Hi @jspreddy ,
Thanks a lot for reaching out.

dbx doesn't enforce the type of the job/run id and it's not based on the previous sequential behavior.
We're using the job_name for unique identification. I've also tested dbx in new environments, and it is working as expected.

[2022-03-01 19:57] #176 closed

[2022-03-02 09:50] giovannipapini-agilelab opened #177 "Multiple policies"
## Expected Behavior

At the moment, at least from what I understand in the documentation and the code, there is no way to add multiple `policy_name` to a `new_cluster`. Did I understand correctly? Would it be possible to add such feature?

## Your Environment

* dbx version used: 0.4.1
* Databricks Runtime version: 9.1

[2022-03-02 10:12] renardeinside commented on #177
Hi @giovannipapini-agilelab ,
Thanks a lot for reaching out.

Databricks doesn't support applying multiple policies to clusters, therefore dbx doesn't support it as well. You'll need to reach out to your Solutions Architect requesting this feature first.

[2022-03-02 10:12] #177 closed

[2022-03-02 13:18] elenamartina opened #178 "[FEATURE] Render Jinja templates with custom variables"
## Expected Behavior
It would be beneficial to specify custom variables or `.yaml` files containing custom variables to render Jinja cluster configuration templates.
This would allow, for example, to specify job-specific variables for each deployment without having to export them as global environment variables (which, when doing multiple deployments at once, would be shared across different jobs

[2022-03-03 03:04] iammukeshsinghqb opened #180 "[BUG] dbx execute fails for a job with multiple tasks"
Sample YAML File (Cookie-Cutter):

custom:
  basic-cluster-props: &basic-cluster-props
    spark_version: "9.1.x-cpu-ml-scala2.12"

  basic-static-cluster: &basic-static-cluster
    new_cluster:
      <<: *basic-cluster-props
      num_workers: 1
      node_type_id: "Standard_E8_v3"

#please note that we're using FUSE reference for config file, hence we're going to load this file using its local F

[2022-03-05 05:29] kulmam92 opened #181 "[Feature] Include notebook as artifact"
## Expected Behavior
If you have a "notebook_task" job, notebooks in the "notebook_path" to the artifacts.

[code]

## Current Behavior
notebook is not included in the artifacts.

[code]

## Steps to Reproduce (for bugs)

## Context
It will be great if the files used to create model are included in the artifacts.

## Your Environment
Azure

* dbx version used: 0.4.1
* Databricks Runtime version: 9

[2022-03-16 00:30] hendrikfrentrup opened #182 "[BUG] dbx launch job fails with notebook parameters"
## Expected Behavior

Launching a deployed job and passing parameters via CLI (either via `--parameters` or `--parameters-raw`:
[code]
or
[code]
or perhaps (though I would say "notebook_params" is redundant in this case
[code]
will trigger a run of the job with the given parameters

## Current Behavior

The command above throw the following error:
[code]

## Steps to Reproduce (for bugs)
* create

[2022-03-20 02:20] mitchstockdale opened #183 "[FEATURE] Support auto-discovery of jinja templates"
## Expected Behavior
Auto-discovery should occur for deployment files ending in `.j2` and matching auto-discovery path prefix: `conf/deployment.(json.j2|yaml.j2|yml.j2)`
## Current Behavior
Auto-discovery only occurs for deployment files matching: `conf/deployment.(json|yaml|yml)`
## Steps to Reproduce (for bugs)
N/A
## Context
Running `--deployment-file` for every `dbx deploy` and `dbx execute` c

[2022-03-20 02:22] mitchstockdale commented on #183
This would also be a good opportunity to update parts of the [quickstart documentation](https://dbx.readthedocs.io/en/latest/quickstart.html?highlight=conf%2Fdeployment#quickstart) relating to auto-discovery of JSON files only (not true since YAML is supported).

[2022-03-21 09:54] renardeinside commented on #183
thank you for your contribution @mitchstockdale , PR merged, will be released in 0.4.1

[2022-03-21 09:54] #183 closed

[2022-03-22 17:31] klesouza opened #185 "[BUG] Can't specify parameters with python_wheel_task"
## Expected Behavior
I can pass `--parameters` using `dbx launch --as-run-submit` for `python_wheel_task`

## Current Behavior
It fails when `--parameters` or `--parameters-raw` is specified.
Exception

[code]

## Steps to Reproduce (for bugs)
Create a `deployment.yml` with a `python_wheel_task` and run `dbx launch --as-run-submit --job job_name --parameters="param=param"`

## Context
I think it's

[2022-03-24 18:14] justinTM opened #187 "ImportError: Bad git executable."
## Expected Behavior
`dbx --version` shows currently-installed version of the `dbx` CLI.

## Current Behavior
Command fails with the following:
[code]
## Steps to Reproduce (for bugs)
[code]

## Context

## Your Environment

* dbx version used:
* Databricks Runtime version:

[2022-03-24 18:49] justinTM commented on #187
FROM python:3.10

fixed:

[code]

[2022-03-24 18:49] #187 closed

[2022-03-28 12:14] ilyasotkov opened #188 "[Feature] `dbx destroy` command for cleaning up jobs"
`dbx deploy` will create/update jobs in Databricks, but I haven't found a straightforward way to clean up these jobs. Would be useful to be able to run `dbx destroy` so that all jobs defined in the YAML config file are deleted from Databricks.

[2022-03-28 20:56] justinTM opened #190 "`dbx execute` expects file `requirements.txt` but `dbx init` template provides file `unit-requirements.txt`"
## Expected Behavior
Running the `dbx execute` command from within a `dbx init`-generated python project will succeed on a shared Databricks cluster

## Current Behavior

[code]

you will now have the following directory structure (notice file `unit-requirements.txt`):
<img width="425" alt="image" src="https://user-images.githubusercontent.com/9123665/160485561-5e89b53b-fbef-42c2-a7fd-38a8ad8e7604

[2022-03-30 18:12] skylarbpayne commented on #181
This seems like it could be somewhat dangerous: if we are running from `/Shared/empattr/develop_model` (which is a Workspace path), then the notebook that is uploaded and the notebook that runs could be different.

I wonder how the maintainers feel about adding e.g. a configuration to `dbx` which allows us to specify a root for notebooks. That way, we could upload notebooks in a versioned way too;

[2022-03-30 18:23] skylarbpayne opened #191 "Include files from another directory for jinja2 templates"
## Expected Behavior
I expect deployment (or more specifically, rendering) to work with the example below.

## Current Behavior
[code]

Note: this fails with any incantation for `job_cluster.json` I've found. For example: relative paths from the template directory, absolute paths, etc. All result in the same problem.

If I put `job_cluster.json` in the same directory as `example-job.json.j2` then

[2022-03-31 02:49] skylarbpayne commented on #191
It's possible that [this is essentially a duplicate](https://github.com/databrickslabs/dbx/issues/178#issue-1157186076)

[2022-03-31 20:29] renardeinside commented on #190
Hi @justinTM ,
this is done intentionally - unit-requirements represent packages you need for local development - there is no need to install them on Databricks.  requirements.txt shall contain libraries that are not represented in the Databricks environment.

[2022-04-01 09:51] rfcortes opened #192 "No module named 'azure.core.rest'"
Hello,

After upgrading dbx to version 0.4.1 I'm getting the following error on the cli

[code]
I tried to reinstall azure-core package, but I did not solve the issue

Do you have any information about this issue?

dbx==0.4.1
databricks-cli==0.16.5

Thanks !

[2022-04-01 10:19] rfcortes commented on #192
solved after upgrading azure-core to v1.23.0

[2022-04-01 10:19] #192 closed

[2022-04-01 19:13] justinTM opened #193 "Help discrepency `dbx groups list`"
`list` command says it shows groups in a workspace, but actually tries to show groups in entire organization, and fails with token scope not high enough.

what i would like to do is list groups i have permission to view, as is possible through the DataBricks web UI.

[code]

[code]

[2022-04-01 20:44] skylarbpayne commented on #193
Is this an issue for the [databricks cli](https://github.com/databricks/databricks-cli/issues) rather than dbx?

[2022-04-02 19:15] renardeinside commented on #193
hi @justinTM ,
this issue is relevant to the main Databricks CLI, and not to the dbx. Please create a new issue in the main CLI Github as per the link above.

[2022-04-02 19:15] #193 closed

[2022-04-02 19:20] renardeinside commented on #191
Hi @skylarbpayne ,

this feature sounds nice to me, but I'm not sure about the design. I have the following concepts in my mind:

1. Single folder with templates:
[code]
The `/path/to/folder` shall contain the following structure:
[code]

2. Simply resolve the references from the root of the project

Which one seems to you better? I personally prefer option #2, but only because it's way simpler to

[2022-04-03 01:10] skylarbpayne commented on #191
(2) sounds great to me! Though, I imagine you might mean "from current working directory" (which is will be the root of the project for most people, ostensibly)?

I'll sign the CLA and take a stab at this!

[2022-04-03 01:24] skylarbpayne commented on #181
@renardeinside -- curious to also get your take on this issue :)

[2022-04-04 15:03] justinTM commented on #190
@renardeinside well first of all I don't think it's fair for you to close it prematurely; if you do not specify a requirements file via a `dbx` flag, the command will error. So, either the repo here needs to rename to requirements.txt, or README needs to be updated. but as-written, the documentations fails when followed word-for-word.

[2022-04-04 15:07] justinTM opened #195 "[Question] project.json"
for the file `project.json`, is there design documentation to understand the thought process on this file? right now we have abstracted away the generation of this file to simply use the deployment.yml file and generate project.json automatically as part of job deployment.

but i'm wondering if there are plans to do more with project.json? will there be more keys than just environment workspace_di

[2022-04-05 07:24] renardeinside commented on #190
Hi @justinTM ,
yes, sorry for that - I assume it was a bit of a hasty decision to close the issue without proper alignment.

I assume this phrasing is a bit misleading "[Installing project requirements](https://github.com/databrickslabs/dbx/blob/ffed70f154cb344f71b372153936ad3a78ac6a83/dbx/templates/projects/python_basic/render/%7B%7Bcookiecutter.project_name%7D%7D/README.md?plain=1#L7)", since it

[2022-04-05 07:32] renardeinside commented on #195
Hi @justinTM ,

thanks for raising the issue.

The `project.json` file is an auxiliary file that is designed for two specific tasks:
1. Providing mapping between environment name and profile name during **local** development. In your CI pipeline, you'll override the local profile setting by using `DATABRICKS_HOST` and `DATABRICKS_TOKEN` env variables, so this functionality is only used for the loc

[2022-04-05 13:18] matthiaspfenninger opened #196 "[FEATURE] Provide parameter overriding options for 'execute' command, similar to 'launch'"
## Expected Behavior
It would be nice if the `execute` command is acting equivalently to `launch` in terms of dynamic parameter overriding: there should be options to set parameters via `--parameters` and `--parameters-raw` for the `execute` command.

## Current Behavior
The `launch` command supports overriding of job parameters via  `--parameters` and `--parameters-raw`. The `execute` command doe

[2022-04-05 13:51] matthiaspfenninger opened #197 "[Feature] Provide possibility to disable MLflow integration"
## Expected Behavior
When using DBX in a non-ML context, it would be nice if there is a way for users to deactivate logging experiments & artifacts to MLflow, e.g. via some parameter in the deployment config, or some additional boolean CLI parameter.

## Current Behavior
DBX is logging experiments and uploading artifacts via MLflow. The user can only choose the location of the experiments & artifa

[2022-04-05 16:04] skylarbpayne commented on #197
Do you have a suggested alternative? My understanding is that MLFlow is used to provide good versioning semantics across deployments. So if we allow users to _not_ use it (which might make sense), what alternative provides those versioning semantics?

[2022-04-05 16:14] justinTM commented on #190
No worries! Let me give it a test run again when i get back to machine in hour (it's been a week since I did this)

Thank you!

[2022-04-05 17:09] matthiaspfenninger opened #198 "[Feature] Allow jinja templating also for project config (similar to deployment config)"
## Expected Behavior
As of per version 0.4.1, dbx supports Jinja templating for deployment configs (see ["Jinja2 Support" in docs](https://dbx.readthedocs.io/en/latest/jinja2_support.html)). It would be nice if this was also supported for the global project config file.

## Proposed Change
The `InfoFile` class in [common.py](https://github.com/databrickslabs/dbx/blob/main/dbx/utils/common.py) coul

[2022-04-05 19:27] mrmasterplan opened #199 "add support for general purpose cluster deployment"
## Expected Behavior
Allow a section in the environment, next to `jobs`, allow a `clusters` key.
Besides a name it would contain details on libraries and configuration for a list of general purpose clusters.
The deployed cluster would also contain an installed build of the current library.

## Current Behavior
General purpose clusters need to be deployed with other command line tools.

## Steps to

[2022-04-05 20:08] renardeinside commented on #199
hi @mrmasterplan ,
thanks for raising the issue.
cluster creation operations are covered by the main databricks CLI. dbx is a tool for jobs deployment, not for cluster management. However, you can provide existing_cluster_id or existing_cluster_name in the deployment file.

Could you please describe what's the purpose of extending the dbx in this direction? I'm trying to grasp the additional value

[2022-04-05 20:24] renardeinside commented on #199
I see the argument, but I don't get the following - how would be `dbx clusters create` be different from `databricks clusters create`? What is missing in the main CLI that we can improve?

[2022-04-05 20:40] mrmasterplan commented on #199
A command to `databricks clusters create` does not modify any of the settings in the json configuration. It is a thin wrapper around the api. There is no upload happening behind the scenes.

What I would like to happen is this:
`deploy.yml`:

[code]

Notice the lack of a python library in the cluster libraries section of both the job and cluster definitions.
I then want to call `dbx deploy`.
This

[2022-04-05 20:44] mrmasterplan commented on #199
Ok. I am sorry! I get now why I am not making myself understood. The cluster creation for general purpose clusters does not contain a libraries section. They have to be installed later. I'm being thick. Apologies. I still think there should be a better way to achieve what I need, but maybe this isn't it.

perhaps we should close and reject this issue?

[2022-04-05 21:02] renardeinside commented on #199
Ah, now I get that. Well, as you've said - this might be a good extension idea, but I think a more in-depth design is required. If you really would like to see a feature like that, I suggest re-opening the issue with a more profound design proposal.
Thank you for the fruitful discussion anyways :)

[2022-04-05 21:02] #199 closed

[2022-04-06 03:12] jmatias opened #200 "[Feature] Pipfile support"
## Expected Behavior

Similar behavior to what `dbx` supports today for `requirements.txt`:

Given that a `Pipfile` exists in the repository,
when we execute `dbx execute  --job ... --cluster ...`
then `dbx` will install the packages found in the `[packages]` section of the Pipfile before running the job
but will **NOT** install the packages  found in the `[dev-packages]` section.

Given that a `P

[2022-04-06 15:31] matthiaspfenninger commented on #200
Great idea, missing the exact same feature!

[2022-04-10 16:55] naziakhan-drizly opened #202 "File already exist, cannot overwrite during `dbx deploy`"
## Expected Behavior
Deploy a job using `dbx deploy`

## Current Behavior
During `dbx deploy` I get error `File already exists, cannot overwrite: &apos;/dbx/production/e515d51b8e2049ac8f77147165e1acef/artifacts/job_folder/entrypoint.py&apos;</pre></p>`

## Steps to Reproduce (for bugs)

## Context
I am trying to deploy my job using command `dbx deploy` in databricks environment. The error message

[2022-04-11 07:43] renardeinside commented on #202
hi @naziakhan-drizly ,
could you please try using the strict path adjustment policy as described [here](https://dbx.readthedocs.io/en/latest/path_adjustment.html)?

[2022-04-13 18:09] naziakhan-drizly commented on #202
@renardeinside, this works!

[2022-04-13 18:09] #202 closed

[2022-04-13 23:10] aavang1 commented on #180
@iammukeshsinghqb, it seems like `dbx execute` does not support Jobs API 2.1, yet. The stack trace you posted shows a failure in the code `entrypoint_file = job_payload.get("spark_python_task").get("python_file")`. That code assumes the job it is evaluating has a `spark_python_task` key, which multi-task jobs do not.

I think this is the correct version of `execute.py`, used by `dbx==0.4.1`, but t

[2022-04-20 11:55] renardeinside opened #208 "[REFACTORING] Move testing codebase to pytest"

[2022-04-20 11:56] renardeinside opened #209 "[REFACTORING] Separate API from the CLI commands"

[2022-04-21 08:14] aj1052737 opened #211 "bdbx init. Error : no such command “init”."
## Expected Behavior
Creates a dbx templated project with CI/CD support as explained [here](https://docs.databricks.com/dev-tools/dbx.html#create-a-dbx-templated-project-with-cicd-support)

## Current Behavior
Error : no such command "init"

full error :
[code]

## Steps to Reproduce (for bugs)
[pip install dbx
dbx init](url)

## Context
starting an MVP that'll run on databricks and scheduled thro

[2022-04-21 13:24] renardeinside commented on #211
hi @aj1052737 ,
it seems like you're using a very old version of dbx - please upgrade it via:
[code]

[2022-04-21 14:53] #211 closed

[2022-04-26 23:19] PaulCornellDB opened #214 "[Docs] Permissions JSON/YAML examples missing"
Examples for JSON and YAML are missing in https://dbx.readthedocs.io/en/latest/permissions.html.

Also, it seems that any list of permissions must be exhaustive, otherwise it can't be stateless. This should be mentioned somewhere on this page, perhaps along with an additional example of such.

[2022-04-27 12:48] scheleaap commented on #188
I agree. `dbx` uploads artifacts and deploys jobs. It would be helpful if dbx could delete everything related to a job (the job itself, artifacts and experiments).

[2022-04-28 07:05] samcomber-mns opened #215 "%run not working as intended, using IPython line magic instead of databricks"
## Expected Behavior
I'm trying to run `dbx execute --cluster-id=123--job=job_test --no-rebuild --no-package` but am encountering this error within a notebook for job `job_test`

I'm expecting `%run /path/to/notebook` command to work from within notebook

![image](https://user-images.githubusercontent.com/102611296/165696098-b7e61b4f-8a34-4d75-b8de-78b9153380b9.png)

## Current Behavior
I believe

[2022-04-28 12:47] tonkolviktor commented on #180
This also happens if the job has only one task, but that task is not `spark_python_task`, but `python_wheel_task`.

[2022-04-29 12:22] nfx commented on #208
@renardeinside please make sure to use the same testing framework as in dbcli

[2022-05-01 21:29] bjtho08 opened #217 "Is dbx suitable for notebook-oriented development?"
So, in my department, we use exclusively databricks for our data analysis needs and we have an entire product built around running multi-task databricks jobs with several `dbutils.notebook.run()`calls and a lot of `dbutils.widgets` in each task to pass around parameters between the notebooks.

Now, I much prefer to code in my local IDE and we do have a repo for the project, but one of the annoyanc

[2022-05-03 15:50] renardeinside commented on #215
hi @samcomber-mns ,

dbx execute is currently not oriented to use with notebooks - if you want to run a notebook you simply run it from the UI, you don't run it as a dbx execute command. Could you please explain to me the use-case of running dbx execute with a notebook?

[2022-05-03 20:57] renardeinside commented on #208
hi @nfx ,

this issue is exactly to fit the testing framework of dbx in accordance with the main CLI. Main CLi uses pytest, while dbx currently uses unittest.

[2022-05-03 20:58] renardeinside commented on #214
fixed in #219

[2022-05-03 20:58] #214 closed

[2022-05-03 21:03] PaulCornellDB opened #220 "[Docs] How to add Spark configs to a deployment config"
If you dig around the Jobs API reference docs a bit, you can eventually find out what to specify in the deployment YAML to set Spark configs. It seems though that you can only do this for new jobs clusters, not for existing all-purpose clusters. In any event, it might be good to explicitly state this in the dbx docs, along with an example, to make it easier for users.

[2022-05-04 14:10] tonkolviktor opened #222 "[Feature] How to handle setup.py/extras_require"
## Expected Behavior

I'd like to be able to specify optional dependency during deployment:
https://setuptools.pypa.io/en/latest/userguide/dependency_management.html#optional-dependencies

## Current Behavior

Under libraries the current project's wheel is added, but no option to specify the optional dependencies.
If I specify manually it is not replaced:
[code]
It would be nice if one could keep

[2022-05-04 17:04] justinTM commented on #217
similar issue for us; i think dbx won't give you dbutils package locally. in addition to DataBricks Connect you could take a look at this, but not sure it will solve your issue(s): https://databricks.com/blog/2019/12/03/jupyterlab-databricks-integration-bridge-local-and-remote-workflows.html

[2022-05-05 11:04] nfx commented on #208
great!

[2022-05-05 17:17] skylarbpayne commented on #191
My PR is out of date now -- but given lack of any response over a month, I'm not sure it's a good use of my time to update.

LMK if/when you may have some bandwidth and I'd be happy to update this. Until then, I'll move my team off dbx

[2022-05-05 20:33] renardeinside commented on #191
hi @skylarbpayne ,

I'm really sorry for the late reply - it's pretty hard to keep all things in sync.
I'll take your PR and make some adjustments and then merge it, also to make sure we release this as a part of 0.5.0.

[2022-05-06 09:25] giovannipapini-agilelab opened #226 "Invalid `null` element in list of libraries"
## Current Behavior

When I deploy a 'spark_jar' job on Azure Data Factory, the deploy seems to end correctly but when I then go opening the ADF Pipeline, Azure forces me to manually fix it, since there is a `null` element at the end of the spark_jar list. The element is obviously missing in the DBX deployment yaml, so it could have been added by DBX itself, since it is present in the intermediate

[2022-05-06 10:32] scholer opened #227 "Please correct scipy requirement in setup.py"
[`setup.py`](https://github.com/databrickslabs/dbx/blob/main/setup.py#L15) currently lists the following requirement to `install_requires`:

[code]

The correct way to specify this would be using environment markers (c.f. PEP 508):
[code]

What this does:

- Using environment markers, we can tell pip/setuptools to install scipy<=1.7.3 if the current python version is less than 3.8, but accept anot

[2022-05-06 16:34] skylarbpayne commented on #191
No problem! I imagine it's difficult to keep up with. If there's a communication channel that works better for you, LMK. I'm happy to help out quite a bit, but I just don't want to put the time in if there isn't bandwidth on the other end :)

Looks like there were some windows failures on this PR. I'll take a look -- I don't have a windows machine, so hoping this isn't very tricky to debug 😅

[2022-05-07 07:41] samcomber-mns commented on #215
Hi @renardeinside, thanks for the response.

I was looking for a way to completely localise my development process. Right now we have CI/CD set up where I push code and deploy notebooks (that execute e2e ML pipelines) to test, this deployment process takes around ~2 minutes each time, meaning I hop over to the UI, wait for the deployment and trigger to test applied changes.

I was curious to see w

[2022-05-09 14:08] jasonvondie opened #228 "running pytest with cloudFiles format"
## Expected Behavior
I expect that when I run `pytest`, it will read in my data using `cloudFiles.format`
## Current Behavior
I receive the following error
`: java.lang.ClassNotFoundException: Failed to find data source: cloudFiles.`
## Steps to Reproduce (for bugs)

## Context
This seems to be related to jar files that may be missing. I currently have spark-xml from com.databricks and spark-csv J

[2022-05-09 15:40] renardeinside commented on #228
Hi @jasonvondie ,

Unfortunately, it's impossible to use cloudFiles outside of the Databricks Runtime (e.g. in local unit tests).
I would recommend mocking out this section with simple Apache Spark file streaming for unit testing.

[2022-05-09 16:41] teaVeloper opened #229 "[BUG] auto discovery for *.y[a]ml.j2 not working"
Minor Bug, but i want to report it, as the documentations states different

## Expected Behavior
Auto Discovery for file conf/deployment.yml.j2
as documented https://dbx.readthedocs.io/en/latest/jinja2_support.html

## Current Behavior
no auto discovery - need to supply the file with --deployment-file flag for dbx execute or dbx deploy commands

## Steps to Reproduce (for bugs)
rename conf/deploym

[2022-05-09 16:44] jasonvondie commented on #228
Awesome - Thank you for the reply!

[2022-05-09 16:45] #228 closed

[2022-05-09 16:47] renardeinside commented on #215
Hi @samcomber-mns ,
this functionality is going to be implemented but in a slightly different way.  I'll keep this issue open and match it to the correct PR as soon as I'll open it

[2022-05-09 22:43] matthayes opened #232 "[Feature] Add sync command"
It would be useful if dbx has commands for syncing local file changes to Databricks repos or DBFS in order to enable local development in IDEs.

[2022-05-10 11:56] mitchstockdale commented on #229
The latest release (0.4.1) does not include the [PR](https://github.com/databrickslabs/dbx/pull/184) addressing this.

[2022-05-10 12:01] renardeinside commented on #229
thanks, @mitchstockdale!
This issue will be release in 0.5.0, planned release date is 17th of May .

[2022-05-10 15:39] skylarbpayne commented on #191
Okay, I fixed the Windows build -- there's a codecov failure, but I think it's not a meaningful one. Seems caused by me reducing the number of lines of code in the implementation (but the method is still fully covered).

LMK if there's something more you think I should do :)

[2022-05-10 16:27] matthayes opened #234 "pep8 and black disagree on whitespace before ':'"
## Expected Behavior

prospector and black should apply the same rules for whitespace before ':'

## Current Behavior

prospector and black disagree on which is correct

## Steps to Reproduce (for bugs)

With the following code, running prospector yields `pep8: E203 / whitespace before ':'` but black has no problem with it.

[code]

With the following code, black check produces an error, but prosp

[2022-05-10 16:32] matthayes opened #235 "`make lint` fails with "No module named rstcheck.__main__""
## Expected Behavior

Running `make lint` should pass on recent commit from `main` branch.

## Current Behavior

Running `make lint` fails with:

[code]

## Steps to Reproduce (for bugs)

`make lint`

## Context

## Your Environment

* dbx version used: `main` branch
* Databricks Runtime version: N/A

[2022-05-10 16:38] matthayes opened #236 "`make check` does not run on setup.py"
## Expected Behavior

If `black` checks executed locally by `make check` pass, then black checks in CI should pass too.

## Current Behavior

`black` issues in `setup.py` are not caught locally but are caught in CI.  This is due to `make check` not running on `setup.py`.

## Steps to Reproduce (for bugs)

Update `setup.py` to have a missing comma:

[code]

Then run `make check`.  It passes.  But n

[2022-05-10 16:53] kennes913 commented on #188
It would be also great if this command was also run to keep the API job resources aligned with the jobs defined in the deployment.yml. For example, say I remove a job with the intention of no longer running that job in a given databricks workspace.

[2022-05-13 09:05] scholer opened #241 "Built-in tests are failing on Windows for the "python_basic" template"
## Expected Behavior

When I create a new dbx project using `dbx --init template=python_basic`, within a properly-configured environment, I expect the built-in test examples to pass when I run `pytest`.

## Current Behavior

The MLflow test is failing with error message: `FAILED tests/unit/sample_test.py::test_jobs - mlflow.tracking.registry.UnsupportedModelRegistryStoreURIException:  Model regist

[2022-05-16 14:02] Stefanos-Arampatzis opened #246 "Dependencies conflict after updating dbx cli"
## Expected Behavior
run successfully `dbx execute` after updating to the latest version`0.4.1`
## Current Behavior
Raises an error `ModuleNotFoundError: No module named 'azure.core.rest'` immediately.
## Steps to Reproduce (for bugs)
Update dbx from `0.3.0`  to `0.4.1` and run `dbx execute [OPTIONS]`
## Context
Looks like the error is raised due to some dependencies conflict. Seems that `azure-co

[2022-05-17 13:36] #241 closed

[2022-05-17 13:36] #229 closed

[2022-05-18 20:24] VenkatH opened #249 "dbx execute on interactive cluster throws and error"
## Current Behavior

<img width="1239" alt="image" src="https://user-images.githubusercontent.com/15984917/169148851-dab8da11-0243-4437-a1b7-e93b4d2e0aac.png">

## Steps to Reproduce (for bugs)
- pycharm
   - 3.8.10 pipenv  as local interpreter
   -  dbx runs along with databricks-cli on conda env
   - followed all the docs steps
- Intellij
   - 3.8.10 conda python env
    -  dbx runs along with d

[2022-05-18 22:47] renardeinside commented on #249
hi @VenkatH ,
thanks a lot for raising the issue. Could you please provide your deployment configuration? Please don't forget to remove parts that are specific to your environment.

[2022-05-18 22:48] renardeinside commented on #235
closed in #237

[2022-05-18 22:48] #235 closed

[2022-05-18 22:48] renardeinside commented on #236
closed in #237

[2022-05-18 22:48] renardeinside commented on #234
fixed in #237

[2022-05-18 22:48] #234 closed

[2022-05-19 01:03] VenkatH commented on #249
@renardeinside  you mean deployment.yaml file content. if so here it is
[code]

But I made it work by verifying the basic python template code. The databricks docs didn't mention to create wheel package, it fixed the issue.

[2022-05-19 13:19] teaVeloper opened #251 "dbx deploy parsing `requirements.txt` wrong"
## Expected Behavior
Using dbx deploy with a "valid" (for vanilla pip) `requirements.txt` file to parse it in a way databricks can work with it.

## Current Behavior
tl;dr: incomplete sanitizing of `requirements-file` before parsing for Jobs API

Parsing extra content which is valid for a `requirements.txt` but causes databricks to break, as dbx parses it as a package. Also databricks fails on win

[2022-05-19 13:22] renardeinside commented on #232
hi @matthayes ,
do I expect correctly that you're going to add a new PR with docs?

[2022-05-19 15:09] fjakobs opened #252 "dbx sync doesn't work when run inside of docker"
## Expected Behavior

`dbx sync` works the same way inside and outside of a container. This is a big problem since I'm using dbx from VSCode remote extensions.

## Current Behavior

Running `dbx sync` from inside of a container throws this error:

[code]

## Steps to Reproduce (for bugs)

Just run `dbx sync` from inside of a container.

## Context

## Your Environment

* dbx version used: latest v

[2022-05-19 15:11] fjakobs commented on #252
@matthayes can you take a look? I believe this is an issue with watchdog.

[2022-05-19 16:04] matthayes commented on #232
yes I'll do that

[2022-05-19 17:30] nididpi opened #253 "[Feature] Add job run log to dbx launch output"
## Expected Behavior
By adding the new option `--job-run-log-level`, `dbx launch` will output the job run log instead of have to go to databrick UI for logs.
## Current Behavior
Currently, when job completes, it will only ask to go to databrick UI to check logs
## Steps to Reproduce (for bugs)

## Context

## Your Environment

* dbx version used: 0.4.1

[2022-05-19 23:53] matthayes opened #255 "Improve dbx sync documentation"
## Expected Behavior

`dbx sync` should be fully documented.

## Current Behavior

Some documentation is missing and there needs to be more description of usage.

## Steps to Reproduce (for bugs)

N/A

## Context

N/A

## Your Environment

N/A

[2022-05-20 00:01] matthayes commented on #232
PR for docs here: https://github.com/databrickslabs/dbx/pull/256

[2022-05-20 05:53] matthayes opened #257 "Unit tests fail due to protobuf error: TypeError: Descriptors cannot not be created directly"
## Expected Behavior

Unit tests should pass

## Current Behavior

I have two consecutive builds where the only difference between them is a change in the Python comments.  The first succeeds and the second fails.

succeeds: https://github.com/databrickslabs/dbx/runs/6516812865?check_suite_focus=true
fails: https://github.com/databrickslabs/dbx/runs/6519187157?check_suite_focus=true

The failing b

[2022-05-20 06:02] matthayes commented on #257
Note that `4.21.0rc2` was just released 6 hours ago as of this moment:

https://pypi.org/project/protobuf/#history

[2022-05-20 06:03] matthayes commented on #257
mlflow requires `protobuf>=3.7.0`, which is how the newer version is getting picked up:

https://github.com/mlflow/mlflow/blob/master/setup.py#L51

[2022-05-20 06:15] matthayes commented on #257
Addressed in #256

[2022-05-20 13:53] fjakobs commented on #252
I narrowed it down a little:

Doesn't work:
  - Docker image mcr.microsoft.com/vscode/devcontainers/base:ubuntu-20.04
  - x86 docker image running on ARM (M1) Mac with CPU emulation

Does work:
  - Docker image mcr.microsoft.com/vscode/devcontainers/python:0-3.10-bullseye (Debian)
  - ARM docker image running on ARM Mac

[2022-05-20 13:53] fjakobs commented on #252
The polling observer does fix the issue https://github.com/matthayes/dbx/commit/f8b692550c34509873cfb42ad927f3f2cffdd817

[2022-05-20 15:43] matthayes commented on #252
Thanks for the additional details!  It worked for me when I tried using the VsCode container.  I'm using an x86 Mac, so this probably explains the difference.  I'll work on preparing a PR for the fallback approach so that the tool can still work if this situation does arise.

[2022-05-23 14:49] aj1045755 opened #259 "No GitHub actions file from template"
## Expected Behavior

A  GitHub actions file is generated when calling `dbx init` using Azure + GitHub as CI/CD tool

## Current Behavior

No GitHub actions file is generated

## Steps to Reproduce (for bugs)
`dbx init` choose Azure + GitHub actions as options

## Context

## Your Environment
macOS
* dbx version used: 0.4.1
* Databricks Runtime version:

[2022-05-23 14:57] aj1045755 commented on #259
solved

[2022-05-23 14:57] #259 closed

[2022-05-23 15:01] nididpi commented on #253
#254

[2022-05-24 17:02] richard-vanderveen opened #260 "Question: Is it possible to include an additional python wheel from the DBFS when running dbx execute?"
This will be more of a question than an issue, but it is something our team has been struggling to figure out.
We are in the process of replacing DatabricksConnect with `dbx`, however we run into some issues with our solutions.

For the most part, `dbx` works perfectly for us. We can use it to connect to a remote cluster, push a wheel (build using Poetry) and execute a piece of code.

Where we run

[2022-05-25 04:55] harry19023 opened #261 "dbx execute streaming query on interactive cluster returns 500"
## Expected Behavior
Running a streaming query with `dbx execute` will give feedback on the status of the job

## Current Behavior
Query starts and then return a 500 error

{ 'error': 'RuntimeException: Unknown ExecutionStatus '
           'RunningInBackground(ExecutionId(fa230ea8-7880-4b17-ba35-ae2b32889a11),Map(8724530366035194313-a31bd105-b339-4ccc-ae10-fd66fdeb09b4 '
           '-> '

[2022-05-26 06:54] AditiTwinkle opened #262 "error when initializing or confuiguring DBX : failure due to protobuf error: TypeError: Descriptors cannot not be created directly"
## Expected Behavior
Should be able to initialize, configure DBX projects.

## Current Behavior
Throws an error of protobuf version downgrading
**dbx init**
[code]

## Steps to Reproduce (for bugs)
install the latest version on ubuntu via WSL

## Context
Setting up a dbx project from scratch

## Your Environment
N/A

* dbx version used:
* Databricks Runtime version:

[2022-05-26 07:03] matthayes commented on #262
This looks like a duplicate of #257.  If you run `pip list` you may find you have picked up a RC of protobof `4.21.0rc2` that appears to be incompatible.  This was addressed in e6361bf922813b94ae47bc6aee308a05c80d6da4.  As a workaround you could try fixing the protobuf version at `protobuf==3.20.1`.

[2022-05-26 07:07] AditiTwinkle commented on #262
works with downgrading to 3.20.1

[2022-05-26 07:07] #262 closed

[2022-05-27 22:03] rleung-dataai opened #265 "dbx configure fails"
## Expected Behavior
From https://dbx.readthedocs.io/en/latest/quickstart.html, I would expect the simple command of `dbx configure --profile=test` would work.

## Current Behavior
Running `dbx configure --profile=test` now gives

[code]

Indeed, it seems to me typing `dbx <anything here>` doesn't work and gives the same crash.

## Context
This seems to be related to the issue discussed [here](htt

[2022-05-27 23:03] matthayes commented on #265
See here: https://github.com/databrickslabs/dbx/issues/262#issuecomment-1138229736

[2022-05-27 23:26] #265 closed

[2022-05-30 15:37] RaccoonForever opened #268 "Question: How to add and use a .coveragerc file ?"
Hello guys,

I'm trying to use your tool for Integration Tests on Databricks.
Unit test are done locally but I need to test some functions that use Databricks hive metastore etc...

I've no trouble running tests using dbx ! (Thanks for that)
But now I'm trying to add some coverage programmatically using your template !

My deployment.yml:

![image](https://user-images.githubusercontent.com/4057852

[2022-05-30 18:53] teaVeloper commented on #268
I use `pytest` (altough with an entrypoint script as a wrapper) and the `pytest-cov` plugin, all defined in a `pyproject.toml`.
Tough a bit different setup, my solution should (hopefully) work for you.

As far as I see, you include the config-file as `fuse` link as parameter in your `deployment.yml`.
Within `__main__` you call a `local` version of `.coveragerc`. But there is no necessary link betw

[2022-05-30 19:06] teaVeloper commented on #261
Hi, I also encountered this behaviour. I figured, that everything was done properly on the cluster and it is just an issue with the hook of dbx showing the results, but the `StreamingQuery` runs asynchronously.

Try:
[code]
My approach is usually to not await Termination, but `return` the streamingQuery, so I can awaitTermination wherever I run `launch` and could possibly run multiple 'streams' as

[2022-05-30 19:42] renardeinside commented on #261
hi @teaVeloper ,
yes, I approve - your approach is absolutely correct. Unfortunately running unawaited streaming queries is not supported in the ExecutionContext API, therefore it's not supported in dbx

[2022-05-31 02:57] harry19023 commented on #261
Amazing, thanks you @teaVeloper. This works great.

[2022-05-31 02:57] #261 closed

[2022-05-31 08:15] RaccoonForever commented on #268
Thanks, I'll try this for my own case !

Using my files as parameters in the deployment.yml make them uploaded on the Databricks cluster, but I couldn't access to it. I am almost sure that we could do something :)

I'll keep you in touch :)

[2022-05-31 13:30] RaccoonForever commented on #268
Ok, it works :) !

I'm just trying to make the 'source' configuration work (to be used with relative_paths) but no success.
It might again be a problem of path not found, and I guess that 'source' doesn't support glob.

[2022-05-31 13:43] #268 closed

[2022-05-31 19:34] renardeinside commented on #260
Great you've found it @richard-vanderveen . You have a good point that we need to work better in terms of dependency management, but it will take some time to implement.

[2022-05-31 19:34] #260 closed

[2022-05-31 19:35] renardeinside commented on #257
Covered in the relevant PR.

[2022-05-31 19:36] renardeinside commented on #220
Described in [this](https://dbx.readthedocs.io/en/latest/examples/python_multitask_deployment_example.html) section

[2022-05-31 19:36] #220 closed

[2022-06-02 06:10] matthayes opened #273 "dbx sync documentation example uses wrong path"
## Expected Behavior

This path should have a prefix `/dbfs`:

[code]

## Current Behavior

## Steps to Reproduce (for bugs)

## Context

## Your Environment

N/A

[2022-06-02 06:29] matthayes opened #275 "Loosen mlflow and protobuf requirements"
## Expected Behavior

`pip install dbx` should ideally not conflict with other dependencies listed in a requirements file.

## Current Behavior

Due to these requirements below in the `setup.py`, it can be challenging to pip install dbx because other requirements may depend on a different version of `protobuf`.

[code]

## Steps to Reproduce (for bugs)

Add `dbx==0.5.0` to a requirements file that

[2022-06-02 17:03] matthiaspfenninger commented on #196
Looks like this didn't make it into version 0.5.0 as planned via milestone – any idea if it makes it into a patch version soon @renardeinside?

Thanks :)

[2022-06-03 08:28] #273 closed

[2022-06-03 08:28] renardeinside commented on #275
fixed in relevant commit

[2022-06-03 08:28] #275 closed

[2022-06-03 08:32] renardeinside commented on #196
hi @matthiaspfenninger ,
we're planning to switch the release policy a little bit, do a bigger refactoring and make this change part of 1.0.0
Please stay tuned, you'll soon see some big updates in dbx.

[2022-06-03 08:38] renardeinside opened #277 "[REFACTORING] Moving towards v0.7.x"
## Context

During first year of `dbx` development, a lot of poor design decisions were made. Specifically, these mistakes are linked to the following parts (or components of the project):

## Checklist

* [x] remove option to have a non-strict adjustment policy
* [x] refactor configuration-oriented code and delete env variables support in YAML/JSON
* [x] refactor configuration-oriented code and i

[2022-06-07 10:04] Teun-Roefs opened #278 "Jinja2 template not found (without absolute path) since 0.5.0"
## Expected Behavior
I would expect `dbx deploy --deployment-file ../path/to/deployment/file.yml.j2` to successfully deploy the jobs inside the config file.

## Current Behavior

I would expect `dbx deploy --deployment-file ../path/to/deployment/file.yml.j2` to successfully deploy the jobs inside the config file, however, I get an error stating the file cannot be found. See screenshot below.

![Sc

[2022-06-08 05:39] matthayes opened #279 "dbx sync should have options for patterns supplied from files"
## Expected Behavior

It would be helpful to have options such as `--include-patterns-from` and `--exclude-patterns-from` which specify files containing patterns to include or exclude.

## Current Behavior

There are options `--include-pattern` and `--exclude-pattern`.  By default if no include patterns are specified then the contents of a `.syncinclude` will be used if it exists.  But if you want

[2022-06-08 05:48] matthayes opened #280 "dbx sync can in theory experience unrecoverable errors if changes occur while syncing"
## Expected Behavior

Changing the state of the files/directories while `dbx sync` commands are running should never result in the command failing.

## Current Behavior

In theory, the following situation seems possible:

* Start running a `dbx sync` command on a root directory.
* Copy a subdir with many files into this root directory, which will cause the sync to start copying.
* While the sync r

[2022-06-10 11:59] pspeter opened #281 "dbx sync does not work behind proxy"
## Expected Behavior

`dbx sync repo` should use the proxy specified by the environment variables `http_proxy`/`https_proxy`.

## Current Behavior

Using `dbx sync repo -d yyyyy` behind a proxy with the `https_proxy` environment variable set causes the following error:

[code]

## Context

Other commands like `dbx execute` work fine.

## Your Environment

* dbx version used: 0.5.0
* Databricks Run

[2022-06-10 13:30] knjk04 opened #282 "AttributeError: 'NoneType' object has no attribute 'get' when executing job"
## Expected Behavior

Successfully executes job on the interactive cluster.

## Current Behavior

```AttributeError: 'NoneType' object has no attribute 'get'```

Stack trace:

[code]

## Steps to Reproduce (for bugs)

1. Create a sample project: `dbx init --template=python_basic`

`conf/deployment.yml`:

[code]

I have created the repo and added the sample notebook to it. Nothing stands out when I

[2022-06-14 16:43] fjakobs opened #286 ""dbx launch --run-as-submit" fails is requirements.txt has comments"
## Expected Behavior

Comments (everything after "#") in requirements files should be irgnored.

## Current Behavior

When running `dbx launch` with a requirements.txt that contains a comment it fails with this error:

[code]

## Steps to Reproduce (for bugs)

1. create a dbx project
2. add a comment to `requirements.txt`
3. run `dbx launch --job=<JOB_NAME> --as-run-submit --trace`

## Your Enviro

[2022-06-14 16:45] fjakobs commented on #286
Bug is here https://github.com/databrickslabs/dbx/blob/main/dbx/utils/dependency_manager.py#L50

[2022-06-15 15:39] BKDaugherty opened #290 "DBX R Support"
## Does DBX support R projects?

My company is trying to decide whether we should use `dbx`, `databricks-connect` or some other hacky solution for interactively running our R code from our own ide against databricks clusters. However, as I was reading through the [docs](https://docs.databricks.com/dev-tools/dbx.html) here, I noticed that there wasn't anything about R, only Python, Java and Scala.

[2022-06-15 17:35] renardeinside commented on #278
hi @Teun-Roefs ,
I'm on this issue, run into it while fixing the tests. I'll analyse it and provide resolution.

[2022-06-15 19:50] renardeinside commented on #277
relevant discussion topic - https://github.com/databrickslabs/dbx/issues/277

[2022-06-15 20:17] justinTM commented on #277
@renardeinside really exciting stuff here.

you mentioned test suite is undergoing big refactor?

[2022-06-20 09:46] RaccoonForever opened #293 "Does parameter that are not files work ?"
Hi !

I'd like to know if basic parameters in the deployment file:

![image](https://user-images.githubusercontent.com/4057852/174574788-521c4e32-80ea-46eb-b4de-fb768c69d0c0.png)

can be retrieved from the  python code ?

I made it work with a file but not with simple parameters.
Is it possible (hence I am doing it wrong) or this is not supported (yet ?) ?

Thanks for your answer :)

[2022-06-20 09:53] RaccoonForever commented on #293
WoW the parameters were missing and indent....

[2022-06-20 09:53] #293 closed

[2022-06-21 11:05] renardeinside commented on #281
@matthayes could you please take a look into this? I'm not sure how to configure proxies properly for async http client.

[2022-06-21 11:11] dcaribou opened #294 "[Feature] Support job DAGs"
## Context
As the number and complexity of jobs in a dbx project, one typical requirement is the possibility to encode job dependencies in a DAG. This allows users to do things like running portions of the DAG (like in "run this job and all their dependant jobs") or rendering documentation for a project's job hierarchy.

[code]

[code]

To the best of my knowledge, this feature does not currently

[2022-06-21 21:40] renardeinside commented on #290
hi @BKDaugherty ,

dbx currently supports the following in terms of R:
- dbx deploy
- dbx launch

Yet we don't support dbx execute (interactive execution from local IDE). I was considering this use-case as something which doesn't happen often since I assume that R developers prefer DB Connect or Rstudio directly on the interactive clusters.

To sum up - you can use DB Connect together with dbx, DB

[2022-06-22 11:10] pspeter commented on #281
From https://docs.aiohttp.org/en/stable/client_advanced.html?highlight=proxy#proxy-support:

[code]

If nothing speaks against it, I think we would only need to set `trust_env` to `True` for every ClientSession?

[2022-06-22 14:51] renardeinside commented on #181
hi @skylarbpayne ,
I'm trying to understand the value of this feature in the light of `dbx sync`. Is there any real need for packaging notebook to artifact storage?

[2022-06-22 15:02] renardeinside commented on #278
covered in #295 , will be released in 0.6.0
Thank you @Teun-Roefs for raising the issue!

[2022-06-22 15:02] #278 closed

[2022-06-22 15:05] renardeinside commented on #246
hi @Stefanos-Arampatzis ,

I cannot reproduce this issue in 0.5.0 - please re-open the ticket if needed.

[2022-06-22 15:05] #246 closed

[2022-06-22 15:17] renardeinside commented on #251
Hi @teaVeloper ,
this is fixed in #287 , will be released in 0.6.0, Thanks a lot for reporting this issue!

[2022-06-22 15:19] renardeinside commented on #191
hi @skylarbpayne ,

merged in #194 , will be released in 0.6.0.
Thanks a lot for reporting this issue!

[2022-06-22 15:20] #227 closed

[2022-06-22 15:23] renardeinside commented on #226
hi @giovannipapini-agilelab ,
this section:
[code]
seems to me like a result of a bug. Could you please provide a proper example of the file `adf-databricks-job.json` you've mentioned in your command above? Please feel free to omit corporate information.

[2022-06-22 18:17] BKDaugherty commented on #290
Sweet! Thanks for the response! I think we will go with this for now, and if `dbx` fits our usecase will look to add a project template and support where we can. Thanks again!

[2022-06-23 00:48] matthayes commented on #281
This sounds reasonable to me.

[2022-06-23 07:18] renardeinside commented on #178
hi @elenamartina ,

could you please take a look at the new include functionality? will it cover the requirement for custom variables in Jinja tempaltes?

[2022-06-23 07:24] giovannipapini-agilelab commented on #226
Hi @renardeinside, it was a typo, actually the command used as input the `adf-databricks-job.yaml` which I attached above.

[2022-06-23 09:36] knjk04 commented on #282
Thanks, @renardeinside.

Would it be possible to document that this is not yet supported in dbx in this guide: https://dbx.readthedocs.io/en/latest/multitask_jobs.html?

Also, I ran `dbx init --template=python_basic` and got the template in my original post. Would it be worth not generating the  multitask job configuration (or commenting out the multitask jobs section and explain with a comment th

[2022-06-23 10:03] knjk04 opened #299 "Unable to see job after running dbx execute"
## Expected Behavior

See the job run in the Databricks UI.

## Current Behavior

I get the message `Command successfully executed`, but I am unable to see the job in the Databricks UI.

## Steps to Reproduce (for bugs)
1. Initialise the project using the Python template: `dbx init --template=python_basic`

2. Update the deployment configuration:
[code]

3. Run `dbx execute --job=dbx-demo-sample-e

[2022-06-23 10:24] niall-turbitt opened #300 "Breaking change with GitHub Actions workflow moving from 0.5.0 to 0.6.0"
I’ve noticed some breaking changes in my github actions workflows going from dbx==0.5.0 to 0.6.0. In my unit-requirements.txt file I previously had dbx without specifying the version, and so was downloading the most recent dbx version when running my github actions workflow. After the update from 0.5.0 to 0.6.0 it seems that my pipeline is not picking up the host and token from github actions secr

[2022-06-23 10:29] renardeinside commented on #299
Hi @knjk04 ,

This is by design - dbx **execute** doesn't create a job - it only uploads the provided local code to Databricks and executes it directly on the interactive cluster. Please take a look at the [dbx docs](https://dbx.readthedocs.io/en/latest/), specifically about the commands:

- execute
- deploy
- launch

So you can better understand the difference between these commands.

[2022-06-23 10:29] #299 closed

[2022-06-23 14:20] renardeinside commented on #300
hi @copdips ,
unfortunately databrickslabs projects are not allowed to be 1.X since it means official support (and we don't provide official support for dbx at the moment). Therefore we recommend binding the version to the subversion for stability, e.g.:
[code]

[2022-06-23 15:38] Stefanos-Arampatzis commented on #300
@niall-turbitt  Downgrading to `0.5` worked for me

[2022-06-23 16:15] justinTM commented on #294
you might have already heard about this but seems similar to me: https://databricks.com/blog/2022/05/10/introducing-databricks-workflows.html

[2022-06-23 18:14] renardeinside commented on #300
hi @Stefanos-Arampatzis ,

yes, it's already in testing, shall be out today in 2 hours

[2022-06-24 07:48] renardeinside commented on #300
fixed and released, thanks a lot for quick detection!

[2022-06-24 07:48] #300 closed

[2022-06-25 19:36] seanlindo opened #302 "Example does not work when executing using an existing cluster"
## Expected Behavior
`dbx execute --cluster-id=<CLUSTER_REDACTED> --job=cicd-sample-project-sample-etl-2.0 --no-package` should work

## Current Behavior
`ModuleNotFoundError: No module named 'cicd_sample_project'`

## Steps to Reproduce (for bugs)
* Launch a cluster running 10.4 LTS
* Install dbx 0.6.2
* Execute db init using the default options. Run `dbx configure` if necessary so your token com

[2022-06-25 19:55] seanlindo commented on #302
Seems to work given the following:

1. The example relies on `pyyaml`. You will need to run `pipenv install pyyaml`
2. Generate a requirements file: `pipenv run pip freeze > requirements.txt`
3. The entire application will need to be packaged and executed: `dbx execute --cluster-id=<CLUSTER_REDACTED> --job=cicd-sample-project-sample-etl-2.0`

[2022-06-25 21:01] seanlindo commented on #282
I spent a decent amount of time going around in circles before discovering this. I also used `dbx init` and immediately went to executing multitask jobs after getting through a basic POC. I have to imagine this is not an unrealistic path.

[2022-06-25 22:35] copdips opened #303 "pin package chardet to `<5`"
## Expected Behavior

no warning during `dbx configure`, or whatever dbx commands that do `import requests`

## Current Behavior

when doing `dbx configure` in auzre pipeline:

[code]

the warning of `requests/__init__.py:102` is shown as error in auzre pipelines, that fails the pipelines:
<img width="1178" alt="image" src="https://user-images.githubusercontent.com/13083856/175792360-412a3ccf-34a4

[2022-06-27 10:12] Stefanos-Arampatzis opened #305 "Error 400 when updating job definitions with dbx 0.6.2"
## Expected Behavior
Deploy jobs in any env
## Current Behavior
Raises a bad request 400 error
## Steps to Reproduce (for bugs)
Deploy a job `dbx deploy -e dev --jobs=<JOB_NAME>`
## Context
![image](https://user-images.githubusercontent.com/83594163/175917659-4c20dd48-d2a8-49bb-8061-d3d7ec341dda.png)

This error is not raised when deploying with `--files-only` option.
**TEMP Solution**: Downgradin

[2022-06-27 11:19] renardeinside commented on #305
hi @Stefanos-Arampatzis ,
it means you need to use the proper path in your configurations (file://some/file/name). Please follow [this](https://dbx.readthedocs.io/en/latest/path_adjustment.html) documentation for details.

[2022-06-27 11:19] #305 closed

[2022-06-27 19:59] renardeinside commented on #294
hi @dcaribou ,
you can already do this with dbx using the multitask support. Please take a look at [this](https://dbx.readthedocs.io/en/latest/examples/python_multitask_deployment_example.html) example - you can manage dependencies between tasks by using `depends_on` section and build a dependency graph of your choice.

[2022-06-28 07:28] #303 closed

[2022-06-28 14:58] collerek commented on #185
This seems to not work for all types of tasks (i.e. for me also `spark_python_task` - dbx 0.6.2) in the multi-task setup as the task key is one level lower inside `tasks` array. It works in the UI so I assume that there parameters are passed to all tasks from the list?

[2022-06-28 16:03] copdips opened #306 "cannot run `python -m dbx configure`: No module named dbx.__main__"
## Expected Behavior
no error when running `python -m dbx configure`

## Current Behavior

(venv)> python -m dbx launch
/{myRepoPath}/venv/bin/python: No module named dbx.__main__; 'dbx' is a package and cannot be directly executed

## Steps to Reproduce (for bugs)
run `python -m dbx launch` or `python -m dbx configure`

[2022-06-28 17:26] copdips commented on #306
I'm using dbx in azure pipelines, and actually azure have a python module bug since yesterday that we must add `python -m` to run any commands

[2022-06-28 19:48] renardeinside commented on #306
hi @copdips ,
do I understand correctly that it was working previously, now it has a bug and no dbx commands can be executed at all without `python -m` in all Azure Pipelines?

[2022-06-28 20:15] renardeinside commented on #306
fixed and released in 0.6.3, please install the latest version.
Thanks for reporting this @copdips !

[2022-06-28 20:15] #306 closed

[2022-06-28 21:14] copdips commented on #306
@renardeinside

thank you so much for this rapid fix, could you please also add a patch version for dbx v0.5 ?
we've currently some issue with dbx v0.6.

[2022-06-28 21:40] fjakobs opened #308 "`dbx sync` ignores profile from `.dbx/project.json`"
## Expected Behavior

`dbx sync` should use the same profile resolution as the other dbx commands.

## Current Behavior

 Currently is ignores the profile in `.dbx/project.json`.

## Your Environment

* dbx version used:$ version ~> 0.6.3

[2022-06-28 22:33] renardeinside commented on #306
hi @copdips ,
unfortunately our release process doesn't support changing already released version.
If there is an issue with v0.5 > v0.6 which is not reflected in the CHANGELOG as a feature, please feel free to create another ticket specifically for that issue.

[2022-06-29 06:47] pietern commented on #308
You mean the Databricks profile in `~/.databrickscfg`, not `AWS_PROFILE`, I presume?

The profile is pulled from `DBX_CLI_PROFILE`.

See: https://github.com/databrickslabs/dbx/blob/2d09a50015a41078edce696b9b58d1c1bf17fb47/dbx/api/auth.py#L15-L28

[2022-06-29 09:22] copdips opened #309 "dbx v0.6+ error with dbx deploy : 'Invalid python file URI: cicd_test/tasks/first/entrypoint.py. '"
## Expected Behavior

No error with `dbx deploy`  (dbx v0.6+)

## Current Behavior

`only for dbx v0.6+`

Error thrown:

[code]

I notice that it's the job api v2.0 in the error message, but in my ~/.databrickscfg, it's `jobs-api-version = 2.1` specified

And hereunder a part of my `deployment.json` file, it works well till dbx v0.5:

![image](https://user-images.githubusercontent.com/13083856/176

[2022-06-29 12:43] renardeinside commented on #309
hi @copdips ,
since version 0.6.X all file paths need to have either `file://` or `file:fuse://` prefixes to be properly resolved.
In your example it should look like this:

`file://cicd_test/tasks/first/entrypoint.py`

And the conf_file argument should look like:

`["--conf-file", "file://conf/testing/dev.json"]`

please read more about path adjustment in the [docs](https://dbx.readthedocs.io/en/

[2022-06-29 12:43] #309 closed

[2022-06-29 13:50] mrmasterplan opened #310 "[Feature] `--dry-run` option for deployment"
## Expected Behavior
an option to `dry-run` a deployment would read and parse the deployment file, make all plans for upload and deployment, print the planned changes and uploads to the console, but would _not_ execute any of these changes.

The usecase is that we have a CICD pipline where we would like to detect broken templates in the unit-test phase, before the PR is merged and deployed.

## Cu

[2022-06-29 15:43] renardeinside opened #311 "[BUG] dbx launch in run-submit mode is not supported when using s3 storage location"
## Expected Behavior
should work

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. create a new deployment with S3 or ADLS based experiment artifact location

[code]

## Your Environment

* dbx version used: 0.6.3
* Databricks Runtime version: N/A

[2022-07-01 11:55] joaplrodd opened #312 "deployment file not auto-discovered when using Jinja2 support"
## Expected Behavior
The deployment file conf/deployment.(json).j2 auto-discovered.

## Current Behavior
The deployment file conf/deployment.(json).j2 not auto-discovered.

## Steps to Reproduce (for bugs)
Make sure that there is a deploytment file: conf/deployment.json.j2
Make sure to have run the
[code]

After having configured the project, run next command:
[code]
## Context

## Your Environmen

[2022-07-01 12:31] #312 closed

[2022-07-01 13:47] ptabandzelic opened #314 "deployment.yaml syntax"
Hi guys, where can i find syntax for deployment.yaml(json), since its different from jobs api.Thanks

[2022-07-01 15:01] mickvanhulst-TomTom commented on #282
Just to clarify, the template that we obtain when running `dbx init --template=python_basic` does not result in a template that I can actually complete the "Quickstart" tutorial with?

@knjk04 This is also what you've experienced?

Is there an expectation when this will likely be released?

[2022-07-01 16:12] mickvanhulst-TomTom opened #315 "`dbx execute` example documentation"
## Expected Behavior
Example documentation that makes using `dbx execute` easy to use.

## Current Behavior
I have been trying to run `dbx execute` with regular Python files, Python wheels as well as notebooks. None if it seems to work for me and all of them give me the same error `'NoneType' object has no attribute 'get'`. It might be something on my end, but an example where `dbx execute` works

[2022-07-01 16:31] #315 closed

[2022-07-05 04:21] Microsheep opened #316 "[Feature] Poetry support"
## Expected Behavior

It would be nice if `dbx` can integrate with [poetry's](https://github.com/python-poetry/poetry) `pyproject.toml` file.
This would deal with the multiple `requirements.txt` files and the `setup.py` file that are needed.
This also allows better tools for virtualenv isolation.

It would install the dependencies from `[tool.poetry.dependencies]` and not from `[tool.poetry.dev-de

[2022-07-05 08:20] renardeinside commented on #311
fixed in 0.6.4

[2022-07-05 08:20] #311 closed

[2022-07-05 08:21] copdips opened #317 "what is `.dbx/lock.json`"
Hello,

Multiple docs say that do not commit file `.dbx/lock.json`:
https://dbx.readthedocs.io/en/latest/templates/python_basic.html?highlight=lock.json#project-file-structure

[code]

Its content is similar to :

[code]

Could you please explain what does it work for, if we commit it, what will be the consequence ?

[2022-07-05 09:26] ptabandzelic commented on #302
Any update?I have same issue.

[2022-07-05 10:41] ptabandzelic opened #318 "Creating dbx deploy on existing cluster, fail to run job."
Literally, i have not changed anything from default dbx init other than putting existing_cluster_id in deployment.yaml file.
When i execute dbx deploy i get following:
ModuleNotFoundError[0m: No module named 'dbxdemo'
dbxdemo is how i called my project.

[2022-07-05 11:21] renardeinside commented on #317
hi @copdips ,
this file used as a local state to store information about the execution context id.
it's only used when `dbx execute` is used.

there is nothing critical in storing this information in your git repository, it's just a bad practice in common to store temporary files in git repository, therefore this recommendation is there.

[2022-07-05 11:21] #317 closed

[2022-07-05 11:24] renardeinside commented on #318
hi @ptabandzelic ,
please follow the standard issue template since it states all the necessary questions:
- what was the version
- what was the command
- what was the command traceback

 Unfortunately I cannot help you to resolve your issue without debugging information provided.

[2022-07-05 11:29] renardeinside commented on #302
hi @seanlindo and @ptabandzelic

maybe there is a doc issue, but it explicitly states the [following](https://dbx.readthedocs.io/en/latest/README.html#limitations):

this is because we expect DBR ML to provide specific libraries (including pyyaml). If you want to use a non-ML DBR, then you need to add the pyyaml package and pass it in the requirements.txt as you've mentioned above.

Does that cove

[2022-07-05 12:14] ptabandzelic opened #319 "Deploy without permission to install on cluster"
Is it possible to dbx deploy without having permission to install on cluster since everything is installed as python package?

[2022-07-05 12:33] renardeinside commented on #319
hi @ptabandzelic ,
could you please specify - do you want to to `dbx deploy` with interactive cluster (`existing_cluster_{id/name}`) or on a job cluster?

[2022-07-05 14:04] renardeinside commented on #319
since you're using:

it's an **interactive** (also called all-purpose) cluster - it's **not** a job cluster.
In general we don't recommend running automated jobs on the interactive clusters, please read the details [here](https://dbx.readthedocs.io/en/latest/templates/python_basic.html#running-your-code-on-the-databricks-clusters).

[2022-07-05 14:16] #319 closed

[2022-07-05 14:56] ptabandzelic commented on #319
But when i use dbx execute on existing cluster, its working, run is completed.When dbx deployed i got error that i cant install anything on cluster.
Interactive(all-purpose) clusters are the ones that we have defined all the time?Job clusters are the one created just for a job run?

[2022-07-05 15:05] renardeinside commented on #319
this is because dbx execute uses a different interface for library installation - it's called context-based library installation and it's incompatible with job-like launches.

yes, exactly. you can find more on the difference between all-purpose and job clusters [here](https://docs.databricks.com/clusters/index.html#:~:text=Databricks%20makes%20a%20distinction%20between,%2C%20CLI%2C%20or%20REST%20

[2022-07-05 15:11] ptabandzelic commented on #319
thanks, liked your talks on youtube a lot.

[2022-07-06 08:22] copdips commented on #195
@justinTM
If I understand well your needs, I also generate `project.json` dynamically during the CICD time, you need to write a script to generate it, I cannot past you the real code, but the idea is like as below, each parameter of `dbx configure` could be calculated dynamically, you can also run the command in a loop, then you will have a big single `project.json` file containing many profiles i

[2022-07-06 08:58] copdips opened #321 "[BUG] dbx v0.6+ / dbx deploy doesn't take the expected wheel file"
## Expected Behavior

In my `setup.py`, my project package name is `pr-cicd_test`, so I expect `dbx deploy` will pick up the wheel file with name `pr-cicd_test-xxx.whl`, and inject it in the final databricks json file as library.

## Current Behavior

Only for dbx v0.6+, it varies on which wheel file is built in the last in the `dist/` folder, which unfortunately is not `pr-cicd_test-xxx.whl`.

##

[2022-07-06 12:21] jiri-vinarek opened #322 "`dbx sync` doesn't convert line endings when syncing to repo"
## Expected Behavior

I expect `dbx sync` to convert line endings in order to see only the actual changes made in the repository in the Databricks Repo client.

## Current Behavior

When running `dbx sync repo -d ourproject` from Windows dbx will copy the local files to the Repo and these files will appear as changed although the only difference is the line endings.

## Context

Our project uses [

[2022-07-06 18:05] copdips commented on #217
dbutils is not open source, so I don't think we can have it locally, we can do some local development with debug by databricks-connect, but I heard about that this product is going to be deprecated (maybe I'm wrong). Instead, databricks recommends to use dbx to deploy production ready non-interactive jobs, and use interactive notebooks to do some online development, demo or quick POC, etc. We can

[2022-07-07 04:40] #255 closed

[2022-07-07 04:40] #232 closed

[2022-07-07 04:41] matthayes commented on #252
@fjakobs can we close this now?

[2022-07-07 07:56] fjakobs commented on #252
Yes, this is resolved. Thanks

[2022-07-07 07:56] #252 closed

[2022-07-10 17:47] avaneeshqb opened #323 "How `.syncinclude` and `.gitignore` work together?"
## Context
Current Sync repo behaviour automatically ignores all files listed under `.gitignore`. Even adding folders to `.syncinclude` doesn't add them. This doesn't help any developer who wants to add a few files(eg: local/user-specific  conf) for convenience and doesn't want them tracked in git.
Would it makes sense to include folders listed under `.syncinclude` but also under `.gitignore`?

Fo

[2022-07-11 06:43] ptabandzelic opened #324 "Difference between profile and environment."
So PROFILE and Environment are kinda similar thing where one PROFILE can have multiple environments?Is there any kind of resources explaining PROFILE and its purpose?

[2022-07-11 06:58] #324 closed

[2022-07-11 09:19] renardeinside commented on #323
@matthayes could you please take a look into it?

[2022-07-12 12:43] copdips opened #327 "folder name `jobs` or `tasks`"
## Expected Behavior

The folder name generated by `dbx --init` should be `tasks` instead of `jobs` to repect  to the same naming convention when using jobs API or the Web UI.

## Current Behavior

the folder name is `jobs`:
https://dbx.readthedocs.io/en/latest/templates/python_basic.html

![image](https://user-images.githubusercontent.com/13083856/178492389-2881e87d-b2ac-48cd-9169-b86429601d55.pn

[2022-07-12 13:19] renardeinside commented on #327
hi @copdips ,
recent naming convention is actually **workflows**:
<img width="320" alt="Screenshot 2022-07-12 at 15 18 51" src="https://user-images.githubusercontent.com/4979594/178499278-f879259b-173c-4b17-b23e-335d1926cbee.png">
We'll address these issues during the upcoming release, thanks a lot for raising this one.
Btw it's just a package name in Python, you can simply rename it at your conve

[2022-07-12 13:39] copdips commented on #327
Yes, indeed I'm currently using `tasks` in my code, I created this issue just would like to have a improvement at dbx side.

[2022-07-12 18:49] rafaelvp-db opened #328 "Support for Python 3.8.7"
## Expected Behavior

Possible to install `dbx` with Python 3.8.7 without any issues

## Current Behavior

Installation fails due to scipy dependency version.

When installing with Python 3.7.13 it works without any issues. However main implication is that some of the code using more recent versions of `scikit-learn` (e.g. 1.1.1) stops working. This could be the case for other libraries as well.

[2022-07-12 20:16] rafaelvp-db opened #329 "Config file not found"
## Expected Behavior

Config files are loaded correctly by workflow tasks

## Current Behavior

Config file is not found, e.g.:

`FileNotFoundError: [Errno 2] No such file or directory: 'dbfs:/dbx/telco_churn_mlops/fdb43500f86d46ed81f4690db141f7a6/artifacts/conf/data_prep_config.json'`

## Steps to Reproduce (for bugs)

Start a new project with `dbx init`, reference a config file inside a `deploym

[2022-07-12 23:39] OmkarMehta opened #331 "Is there a documentation for "dbx" library in Python?"
## Expected Behavior
dbx.configure()
## Current Behavior
![image](https://user-images.githubusercontent.com/18292840/178616143-2a0b69d6-2c77-428b-a5e6-633531958f9a.png)

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* dbx version used:>0.5
* Databricks Runtime version: 9.1

[2022-07-13 11:03] renardeinside commented on #331
hi @OmkarMehta ,
it's not expected that users will use dbx as a library at the moment, since interfaces are unstable and are a subject to change. dbx is designed as a CLI tool in the first place.
Could you please explain the use-case for dbx running as a library on the cluster?

[2022-07-13 11:20] renardeinside commented on #329
hi @rafaelvp-db ,
shall this be closed since resolution was found?

[2022-07-13 11:27] renardeinside commented on #178
hi @elenamartina ,

now I see your point. So you would like to have a file in .yml/.json format which provides additional environment variables to the Jinja2 template which is used for job creation?

[2022-07-13 12:36] elenamartina commented on #178
Yes exactly 😄 the pr is a bit old now and has some conflicts, so might need a bit of refactoring. But apart from that, the work to implement this has been done and tested (and it's currently in Production at Gousto, my company!)

[2022-07-13 12:47] renardeinside commented on #178
now I see the value and meaning. I think name of the argument needs to be changed a little bit, because it's hard to guess the meaning of it. I'll take care of this and adopt your PR.

[2022-07-13 13:04] elenamartina commented on #178
Thank you so much - sorry for not explaining this well before!

[2022-07-13 13:35] OmkarMehta commented on #331
hi @renardeinside,
Got it. I want to create a Kubeflow workflow for spark apps jobs. So, I started with `dbx`. While I can use `dbx` cli to create a new job and cluster using `deployment.json` file, and Databricks notebook. I wish to automate `dbx` commands.
For that, `dbx` library would be easier to use for making the deployment. Correct me, if I am wrong.

[2022-07-13 13:49] copdips commented on #181
I also run into this issue today, because some DS in my team would like to use interactive notebooks instead of python files with dbx.

It would be nice if we can upload the notebooks to artifacts just like the python files for `spark_python_task`, but after checking the docs, it seems that it's by design at Databricks, we can only reference notebooks in some workspaces or repos, technically I thi

[2022-07-14 07:57] rafaelvp-db commented on #329
sorry @renardeinside, I thought I had been able to fix it with the PR I sent. but I tested it further and the fix caused the MLflow part to stop working. so the issue stands

[2022-07-14 08:04] rafaelvp-db commented on #328
hey @renardeinside, thanks for the feedback! indeed, I don't see scipy as a direct dependency of the package but it might be installed by one of the requirements. please find the logs below:

[code]

[2022-07-14 09:38] rafaelvp-db commented on #329
as per @mshtelma 's guidance, I've added a bit to _read_config_file function in common.py to fix the config path. so now it looks like this:

[code]

[2022-07-14 09:38] #329 closed

[2022-07-15 16:10] billkellett opened #334 "dbx Deploy on Windows error: File In Use By Another Process"
## Expected Behavior:
I am running the ide-best-practices reference application on VSCode, following instructions at https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ide-how-to.  When I run `dbx deploy --environment=default` I expect the command to run successfully.

## Current Behavior:
I am able to Deploy successfully with VSCode on Mac.  However, the Deploy step fails on Windows.  Th

[2022-07-17 07:47] rafaelvp-db commented on #328
all right, so scipy is a requirement for installing mlflow. there's a known issue with installing scipy for some of the python 3.8.x versions - as there's no wheel available for these versions, pip tries to build scipy from the source. I tried to install the dependencies (openblas etc), without success. but when I followed the instructions [from this link](https://stackoverflow.com/questions/71006

[2022-07-17 07:48] #328 closed

[2022-07-17 21:03] copdips commented on #321
@renardeinside
Just would like to know if you've seen this issue.

[2022-07-18 04:09] matthayes commented on #323
Right, that is the current behavior.  I intended `.syncinclude` to be a convenient way to check in set of patterns/directories to automatically sync that are standard for users of the repo, so you don't have to type a list of `-i` options each time.  It seemed that probably most of the time people don't want to sync files/directories matched by `.gitignore`, so I chose to not sync those by default

[2022-07-18 08:32] renardeinside commented on #321
hi @copdips ,
this error means that there are multiple .whl files in the dist folder. I assume reason is that `pip wheel` command. I'm currently working on a resolution to make sure we won't run into this issue again.

[2022-07-18 08:35] renardeinside commented on #334
hi @billkellett ,
have you tried upgrading pip on your machine as per this issue https://github.com/pypa/pip/issues/7865

[2022-07-18 13:43] billkellett commented on #334
Hi Ivan,

When I try to upgrade pip using the syntax described in pypa/pip#7865<https://github.com/pypa/pip/issues/7865> ( python -m pip install --upgrade pip ) I get the following response:

Requirement already satisfied: pip in c:\python310\lib\site-packages (22.1.2)

So it appears that I have the latest version.  I do see this version when I do pip --version in my Virtual Environment as well.

[2022-07-18 23:35] renardeinside commented on #316
hi @Microsheep ,
there is no need to provide `requirements.txt` file if you're using poetry. poetry packages all dependencies into the wheel, and these dependencies will be correctly resolved and installed during both execute and launch steps. You simply don't need to provide requirements.txt file at all.

[2022-07-18 23:35] #316 closed

[2022-07-18 23:51] renardeinside commented on #302
Closed as no comments for 2 weeks.
@seanlindo please let me know if a follow up is required.

[2022-07-18 23:51] #302 closed

[2022-07-18 23:51] #290 closed

[2022-07-19 00:01] renardeinside commented on #321
Addressed in the relevant PR, will be released in 0.6.5
Thanks a lot for pointing this out @copdips !

[2022-07-19 00:01] #321 closed

[2022-07-19 18:56] renardeinside commented on #208
fully implemented

[2022-07-19 18:57] renardeinside commented on #190
hi @justinTM ,
this behaviour has been changed in the recent release 0.6.5 - we're getting rid of a separate unit-requirements.txt file.

[2022-07-19 18:57] #190 closed

[2022-07-19 18:59] renardeinside commented on #181
comment from @copdips is valid. you shall not use notebooks code in SparkPythonTask, use NotebookTasks instead.

[2022-07-19 18:59] #181 closed

[2022-07-20 19:53] renardeinside commented on #331
hi @OmkarMehta ,

I'm not sure if Kubeflow pipelines are somehow relevant to:
- using dbx in the notebook (as per your initial screenshot)
- both batch or streaming jobs on Databricks, as well as to Databricks CLI.

Maybe I miss some critical knowledge of Kubeflow.

Here is what I see from quick check of its [documentation](https://www.kubeflow.org/docs/components/pipelines/introduction/):

As for

[2022-07-20 19:53] #331 closed

[2022-07-20 19:59] renardeinside commented on #217
hi @bjtho08 ,

Thanks a lot for raising the issue.

You can still develop your code locally and ship it to your Notebook-based repository by using `dbx sync`.
As for using `dbutils` locally - yes, it's impossible since its not an open-source component.
You have 2 options to work with them during development:
- use `dbx execute` which packages code and executes it on an interactive cluster
- use lo

[2022-07-20 19:59] #217 closed

[2022-07-20 20:02] renardeinside commented on #253
linked PR is merged, will be delivered as a part of 0.6.6
Thanks a lot for opening and contributing to the PR @nididpi !

[2022-07-20 20:02] #253 closed

[2022-07-20 21:59] renardeinside commented on #222
hi @tonkolviktor ,
you can use standard Python packaging approach and avoid using `requirements.txt` (this functionality is deprecated).
Please take a look at the latest template for examples.

[2022-07-20 21:59] #222 closed

[2022-07-20 22:03] renardeinside commented on #200
hi @jmatias ,
there is no need in using requirements.txt for this purpose. you can use standard Python packaging (add your dependencies to the package wheel directly, without using a separate file).

[2022-07-20 22:03] #200 closed

[2022-07-20 22:03] renardeinside commented on #197
hi @matthiaspfenninger ,
we have a plan to add a non-mlflow deployment capability (via direct upload to dbfs). Stay tuned for implementation updates.

[2022-07-20 22:05] renardeinside commented on #195
as discussed above, there is an option to use `dbx configure` on the fly in your CI/CD setup.
We currently don't plan making `project.json` dynamic as no real need for this proposal is visible at the moment.
Please re-open the issue if there is still a need in it.

[2022-07-20 22:05] #195 closed

[2022-07-20 22:06] renardeinside commented on #327
hi @copdips ,
I've refactored the folder, now unit elements are called `tasks`. Changes will take place in 0.6.6.

Thanks a lot for your proposal!

[2022-07-20 22:06] #327 closed

[2022-07-20 22:33] roenciso opened #344 "dbx execute throws Max retries exceeded with url: /api/2.0/mlflow/runs/create"
## Expected Behavior
I have been using dbx execute to get local scripts to run on my databricks cluster. I started getting the exception below. I even created a new cluster with the latest databricks runtime and same issue.

## Current Behavior
[code]
## Steps to Reproduce (for bugs)
run dbx execute --cluster-name=mycluster --job=my_job

[2022-07-20 22:37] copdips commented on #217
@renardeinside

Could please the link for the example of 'local dbutils mock' ?

[2022-07-20 23:55] renardeinside commented on #344
hi @roenciso ,
thanks a lot for opening the issue.

Unfortunately the provided log is not full, I cannot even identify in which part of dbx execute it fails - please provide the full log.

Also, the github issue format contains a question about dbx version for purpose. What's the dbx version you're using?

[2022-07-21 00:19] roenciso commented on #344
Hi @renardeinside, that's all that I have unfortunately. There are no logs showing up on the cluster for some reason. The dbx version I am using is 0.3.3.

[2022-07-21 08:39] renardeinside commented on #217
hi @copdips ,
take a look at[ this file](https://github.com/databrickslabs/dbx/blob/main/dbx/templates/projects/python_basic/render/%7B%7Bcookiecutter.project_name%7D%7D/tests/unit/conftest.py) for example. It's automatically generated if using `dbx init`.

[2022-07-21 08:41] renardeinside commented on #344
hi @roenciso ,
I need the full CLI command output to understand what's the root cause of the issue.
Taking into account that you're using a very old version of dbx, I would recommend upgrading to the recent version (0.6.5) first.

[2022-07-21 08:41] copdips commented on #217
@renardeinside
thanks a lot !

[2022-07-21 10:58] renardeinside commented on #334
hi @billkellett ,
I've recently changed the way how dbx makes it's build - could you please try again with dbx 0.6.5 ?

[2022-07-21 15:02] billkellett commented on #334
Hi Ivan,

I built a new project using reference app with dbx 0.6.5, but I'm still getting the same error message:

error: [WinError 32] The process cannot access the file because it is being used by another process: 'build\\bdist.win-amd64\\wheel\\covid_analysis-0.0.1.dist-info'

________________________________
From: Ivan Trusov ***@***.***>
Sent: Thursday, July 21, 2022 6:58 AM
To: databrickslab

[2022-07-21 15:16] roenciso commented on #344
I upgraded to the latest dbx and have the same issue. Below is a more complete log.

`(batchScoring) PS D:\RecNetDP.BatchScoring> dbx execute --cluster-name=QueryClusterHi --job=RecNetDP.BatchScoring-photo-feed-scoring-local
[dbx][2022-07-21 08:13:27.642] Using profile provided from the project file
[dbx][2022-07-21 08:13:27.647] Found auth config from provider ProfileEnvConfigProvider, verifying

[2022-07-21 16:30] renardeinside commented on #178
hi @elenamartina ,
I've slightly re-worked your code to make it more abstract and include it into the main canvas.
It will be released in 0.6.6 in the upcoming week. Thanks a lot for raising the issue and contributing to it!

[2022-07-21 16:30] #178 closed

[2022-07-21 16:40] renardeinside commented on #344
hi @roenciso ,
thanks a lot for providing the output.

I have a slight guess that the Databricks environment you're using became  unreachable from your local machine for some reason.

Could you please try to do the following:

1. Get the Databricks profile you're using in your project (take a look at the `.dbx/project.json` and find the profile name for the relevant environment
2. Run the followin

[2022-07-21 17:12] renardeinside commented on #282
Addressed in the linked PR, will be released as a part of 0.6.6

[2022-07-21 17:12] #282 closed

[2022-07-21 17:12] renardeinside commented on #84
Addressed in the linked PR, will be released as a part of 0.6.6

[2022-07-21 17:12] #84 closed

[2022-07-21 17:12] renardeinside commented on #180
Addressed in the linked PR, will be released as a part of 0.6.6

[2022-07-21 17:12] #180 closed

[2022-07-21 17:17] renardeinside commented on #198
hi @matthiaspfenninger ,
thanks a lot for raising the issue.
I'm struggling to understand the value and the use-case for this. You can generate as many environments as you want with:

[code]
Does it cover your use-case? I'm asking because I was expecting project.json file to be pretty static, like `package.json` in `npm` modules.

[2022-07-21 19:43] roenciso commented on #344
I run the commands from two different machines. They do not throw any error and I am still running into the same exception when trying to submit the job.

[2022-07-21 20:02] renardeinside commented on #344
@roenciso ,

could you please verify that you have permissions to work with the experiment located in `workspace_dir` in `project.json`?

Follow the `workspace_dir` path in Databricks UI and check if you can see the experiment, as well as check it's permissions.

<img width="649" alt="Screenshot 2022-07-21 at 22 01 56" src="https://user-images.githubusercontent.com/4979594/180304980-20566a7b-e460-

[2022-07-21 20:04] renardeinside commented on #334
hi @billkellett ,

I've just tried it in a new project on Win10 and it was working as expected. Could you please try the following:

[code]
Then:
[code]
And then launch the deploy command?

[2022-07-21 20:12] roenciso commented on #344
I did go to the experiment directly and the latest job I see was from 5 days ago which is the last time this worked for me.

Rosa

Sent from my iPhone

[2022-07-21 20:15] renardeinside commented on #344
it's pretty hard to capture the RCA per github thread.

Could you please reach out to me directly via email - ivan[dot]trusov-at-databricks[dot]com ?
I assume a debugging session is something that could help find the resolution.

[2022-07-21 22:09] billkellett commented on #334
Ivan, no change in behavior.  Since you got it working on Win10, it must be something odd or corrupt on my machine.  No need trying other tests unless it's something specifically related to the error message I see.

Thanks,

Bill.

________________________________
From: Ivan Trusov ***@***.***>
Sent: Thursday, July 21, 2022 4:05 PM
To: databrickslabs/dbx ***@***.***>
Cc: billkellett ***@***.***>;

[2022-07-22 08:52] renardeinside commented on #334
sure @billkellett ,
I'm closing this one as non-reproducible. If you'll be able to repro this issue on another machine, please re-open this one.

[2022-07-22 08:52] #334 closed

[2022-07-22 08:53] renardeinside commented on #323
hi @avaneeshqb ,
was the question resolved with the answer above?

[2022-07-22 09:01] avaneeshqb commented on #323
@renardeinside. While it's a valid workaround, removing .gitignore wasn't an option for us. We're going with editing files in databricks environment.
@matthayes On possible design changes, maybe a new arg `--always-sync` might work. This will not also cause any issues with backward compatibility too. I could try to make this change if it makes sense.

[2022-07-22 14:43] renardeinside commented on #215
hi @samcomber-mns ,

please take a look at the functionality called `dbx sync` - it should cover your use-case (local development, direct sync to the Databricks Repo and then use it directly from a notebook).
Would that cover your use-case?

[2022-07-22 15:25] RaccoonForever commented on #253
Thanks a lot both (or more) of you!

[2022-07-22 16:03] matthayes commented on #323
How about these options below?  I can work on a PR.

* `--use-gitignore` / `--no-use-gitignore` controls whether the `.gitignore` is used for syncing purposes
* `-fi` ( `--force-include` ) forces a directory to be included, regardless of `.gitignore`

[2022-07-22 17:15] avaneeshqb commented on #323
Those would be great, just `--force-include` would be immediately beneficial for us.

Happy to work on it over the weekend too if it's ok. Looking at the code later, already had an idea what might need modification.

[2022-07-22 18:26] matthayes commented on #323
Okay great.  I should have a PR ready today.

[2022-07-22 21:01] jbpolle opened #350 "dbx sync: error exceeding file size"
## Expected Behavior
When uploading a local project to databricks (running: dbx sync dbfs --source=.), if there is a file that is bigger than some specific size, I would expect a warning and that this file would be ignored (at least that could be a flag option).
Also it would be nice to be able to increase the max size allowed.

## Current Behavior
Following error is raised and process stop:
[dbx]

[2022-07-22 21:48] roenciso commented on #344
Hi Ivan, thanks for your prompt attention. The issue got magically
resolved. I am guessing it has something to do with the Azure clusters
themselves. I have created a ticket with them so we can figure out what was
the problem.

--Rosa

On Thu, Jul 21, 2022 at 1:16 PM Ivan Trusov ***@***.***>
wrote:

--
Rosa I. Enciso

[2022-07-23 02:20] matthayes commented on #323
Hi @avaneeshqb I have prepared a PR in #351 that implements what I proposed above.

@renardeinside or @fjakobs, can one of you review?

[2022-07-23 17:00] renardeinside commented on #344
hi @roenciso ,
happy to hear that the issue was resolved. If it appears again, please reach out to my email above.
As of now I'll close the ticket.

[2022-07-23 17:00] #344 closed

[2022-07-25 09:40] HiteshDream commented on #120
Can we expect this anytime soon?

[2022-07-25 10:23] ptabandzelic opened #352 "Task paramter variable"
Hey, is this has to do with dbx?When i put some of the task paramter variables inside  "-name" for example:
- name: databricks-job-{{start_id}} in yaml configuration file, it does not parse that variable in databricks jobs ui.

[2022-07-25 10:34] renardeinside commented on #120
hi @HiteshDream ,
multitask jobs are already supported, but parameter passing via CLI is not yet fixed.
Please take a look at `--task` [parameter](https://dbx.readthedocs.io/en/latest/cli.html#cmdoption-dbx-execute-task) in latest version.

[2022-07-25 10:36] renardeinside commented on #352
hi @ptabandzelic ,

could you please re-open the request as per GitHub Issue template - mentioning the version, current behaviour, expected behaviour etc. These fields are there not because we like bureaucracy, these fields are there to ease the triaging process.

[2022-07-25 10:36] #352 closed

[2022-07-25 12:22] pstanisl commented on #251
I am facing a similar issue.

My DBX version

[code]

My deployment file

[code]

My `requirements.txt` file

[code]

Command:

[code]

[2022-07-25 12:53] renardeinside commented on #251
hi @pstanisl ,
`--requirements-file` functionality is deprecated. Please use standard `setup.py`-based dependency provisioning.
The case with --extra-intex-url is described [here](https://stackoverflow.com/questions/24443583/using-an-extra-python-package-index-url-with-setup-py) and [here](https://setuptools.pypa.io/en/latest/setuptools.html#new-and-changed-setup-keywords).

[2022-07-25 14:51] pstanisl commented on #251
Hi @renardeinside.

Thank you for your answer. But, as far as I know, support for `dependency_links` in `setup.py` was dropped by `pip`; see [here](https://setuptools.pypa.io/en/latest/deprecated/dependency_links.html?highlight=dependency_links). Proposed solution is to use PEP 508 as mentioned [here](https://stackoverflow.com/a/54793503), but it does not work for me. It fails with an error

[code

[2022-07-25 18:19] renardeinside commented on #251
hi @pstanisl ,
if you're using poetry, it will automatically add all dependency descriptions into the .whl package.
Here is how your pipeline could look like. Imagine having a repository with following structure:

[code]
As you can see I'm using `poetry` and `dbx` together here. There is no requirements.txt or setup.py file provided.

Second, I add a new dependency to my `pyproject.toml` file:
[co

[2022-07-26 07:24] pstanisl commented on #251
Hi @renardeinside.

Thank you for your answer. I did not realize the option to define the init script. It worked. Thank you very much.

[2022-07-26 09:29] mickvanhulst-TomTom opened #353 "`--branch-name` as environment variable for `git_source`"
## Expected Behavior
Whenever `--branch-name` is passed as an argument, it would be useful if the branch name is accessible for setting the `git_branch` for a given job. Currently, it does not seem to be accessible as an environment variable.

## Current Behavior
N/A

## Steps to Reproduce (for bugs)
N/A

## Context
Dynamically changing the branch name would improve the development experience, whi

[2022-07-26 14:27] renardeinside opened #354 "[FEATURE] Add documentation on how to work with environment variables"
Add documentation piece on how to work with environment variables in `dbx execute` and in job definitions.

[2022-07-27 07:38] richard-vanderveen commented on #260
@yewsiang Apologies, I was on holiday. For what is it still worth:

Because I use a requirements.txt file (which is the default dbx looks for) it works out of the box. Probably there is something off with how you provide the name of the alternative file (or this is something off in dbx itself).

[2022-07-27 08:18] renardeinside commented on #260
hi @yewsiang ,
dbx automatically adds the core package to your library dependencies list, there is no need to manually add it in the requirements file.

Also note that usage of `requirements.txt` is deprecated, please take a look at the newest version of template for guidance on how to work with dependencies.

[2022-07-27 09:14] renardeinside commented on #353
hi @mickvanhulst-TomTom ,
you can use the env variable in the following fashion:
[code]
In your deployment file, use Jinja2 template capabilities with [env variable support ](https://dbx.readthedocs.io/en/latest/features/jinja2_support.html#environment-variables):
[code]
re-use this variable in dbx deploy and launch:
[code]
Please note that branch-name argument here is only used by dbx to define w

[2022-07-27 09:24] renardeinside commented on #350
hi @jbpolle ,
As a quick fix, have you tried using [exclude-pattern](https://dbx.readthedocs.io/en/latest/cli.html#cmdoption-dbx-sync-dbfs-ep) or [exclude dirs](https://dbx.readthedocs.io/en/latest/cli.html#cmdoption-dbx-sync-dbfs-e) for this specific file?

[2022-07-27 13:00] jbpolle commented on #350
@renardeinside Thanks for the reply. This is actually what I did and it worked but it could be annoying on other projects.

[2022-07-27 18:18] matthayes commented on #323
Hi @avaneeshqb , this has been merged.  If you're up for it please try it and let me know if you experience any issues.

[2022-07-27 19:29] matthayes opened #356 "test_event_handler_create_file_force_includes expects wrong number of events"
## Expected Behavior

`test_event_handler_create_file_force_includes` should pass consistently.

## Current Behavior

`test_event_handler_create_file_force_includes` failed after merging, despite it passing in the PR.

## Steps to Reproduce (for bugs)

This is hard to reproduce because it is a timing issue.

## Context

`test_event_handler_create_file_force_includes` calls `get_events` with `expec

[2022-07-28 08:30] renardeinside commented on #356
closed in relevant PR, great job @matthayes !

[2022-07-28 09:57] ptabandzelic opened #358 "Why by dbx init we generate tasks/ for databricks jobs"
So under the tasks/ we have databricks jobs which consists of tasks. Why on the top level we have tasks/ and not jobs/

[2022-07-28 11:16] renardeinside commented on #358
hi @ptabandzelic ,
this discussion already took place [here](https://github.com/databrickslabs/dbx/issues/327)

Logic is the following - `task` represents a unit element of computation, and tasks can be arranged into jobs. There could be one or multiple tasks inside a job.

You're free to rename this package to the convenient name of your choice - it's just naming convention in the end.

[2022-07-28 11:16] #358 closed

[2022-07-28 15:38] renardeinside commented on #350
Hey @jbpolle ,

this approach contradicts the [Zen of Python](https://peps.python.org/pep-0020/), since `Explicit is better than implicit.`.
Approach with warning essentially silences the error from the end user, which might lead to unexpected behaviour.
Therefore I'm closing this ticket, I don't see a valid change that will improve the situation.

[2022-07-28 16:00] jbpolle commented on #350
@renardeinside why do we need to have such a small max_size and why cannot it be configurable? This is quite annoying to have to manually exclude files that are too big.

[2022-07-28 17:26] renardeinside commented on #350
hi @jbpolle ,
Decision on the `max_size` is not something which is made by dbx team, rather than a limitation of the platform.
What we can do is to workaround the limitation by using DBFS APIs. I'll re-open the ticket accordingly

[2022-07-28 17:33] renardeinside commented on #323
closed, will be released as a part of 0.6.9
thanks a lot to @avaneeshqb for reporting this one and to @matthayes for implementation!

[2022-07-28 17:33] #323 closed

[2022-07-28 18:01] jaycunningham-8451 opened #359 "error when deploying package: File already exists, cannot overwrite"
## Expected Behavior

The package should deploy to Databricks without any issue.

## Current Behavior

The package deploy fails with an error:

[code]

## Steps to Reproduce (for bugs)

Essentially, follow the steps here: https://dbx.readthedocs.io/en/latest/templates/python_basic.html?highlight=libraries

Create a sample project like this:

[code]

and answer the questions with all the defaults,

[2022-07-28 18:22] renardeinside commented on #359
hi @jaycunningham-8451 ,

I cannot reproduce this issue in any of available environments.

Could you please verify that you have proper access to MLflow by doing the following:

- setup the MLflow tracking URI env variable:
[code]

- move to the project folder and get the experiment name:
[code]

- find this experiment id:

[code]

- copy the experiment ID and get the latest run per this experimen

[2022-07-28 18:26] renardeinside commented on #359
upd. if you're using Databricks on AWS in Ohio region, it might be also relevant to [this](https://health.aws.amazon.com/health/status) incident.

[2022-07-28 18:46] jaycunningham-8451 commented on #359
Nope, we're on Azure. Ohio's right, though!

`mlflow experiments list` fails with an error message indicating an authentication issue:

[code]

The profile I've set seems to work properly in other contexts so I'm not sure why this would be the case, but I guess that means it's an MLflow issue and not a dbx issue? Funnily enough running `dbx deploy` does create the experiments successfully (you can

[2022-07-28 18:54] jaycunningham-8451 commented on #359
Never mind. I'm an idiot. Three cheers for me being an idiot. I configured the host incorrectly, it just always worked properly until now.

[2022-07-28 18:54] #359 closed

[2022-07-28 23:09] srghat opened #360 "timeout_seconds Parameter not applied at dbx execute time"
## Expected Behavior
timeout_seconds: 100 parameter set up from YAML needs to propagate to the dbx execute call and maintain connection for at least timeout_seconds since a last locking Python operation is executed.

## Current Behavior
Timeout currently is unknown, but estimated at around 30-45s.

## Steps to Reproduce (for bugs)
time.sleep(250) in a Python job code, and timeout_seconds: 100 in a

[2022-07-29 08:36] renardeinside commented on #360
hi @srghat ,
Could you please provide the relevant part of job configuration from your `conf/deployment.yml`?

[2022-07-29 08:49] renardeinside commented on #360
I've reproduced this behaviour.

Reason is the following - `timeout_seconds` is being calculated form the moment of the job start.
Since some time is needed to start the VMs, the countdown in Python application starts later which leads to the interruption.

Resolution is the following - add approx. 3 minutes to the timeout_seconds as a safety measure for the  time which is spent on warming up the

[2022-07-29 08:49] #360 closed

[2022-07-29 08:57] copdips commented on #277
@renardeinside
Regaring `Configuration inconsistencies` with Jinja templating, I found  the recent release v0.6.6 has already introduced `--jinja-variables-file`, is it done or you plan to still add/change the behavior in the future v0.7 ?

[2022-07-29 09:42] renardeinside commented on #277
hi @copdips ,
yes, this is already implemented in v0.6.6+

[2022-07-31 09:08] matthiaspfenninger commented on #198
Hi @renardeinside

Thanks a lot for the response!

Our use case is that we use dbx as part of testing pipelines, where each test run receives an automatically generated identifier. This identifier should also be used for the dbx configuration, to make sure to isolate dbx artifacts between different runs.

I agree that we can achieve this by running the _configure_ command as part of our pipelines,

[2022-08-01 10:01] ptabandzelic opened #362 "[FEATURE] dbx execute python wheel task"
Hey, will u be adding dbx execute of a python wheel task inside databricks job?Right now it does not support execution of entrypoints.

[2022-08-02 12:09] ptabandzelic opened #365 "How should i go about installing some other wheel file."
Hey, how to install inside task an additional wheel file?Should i put it in conf/deployment.yaml under libraries section.
Should i put it in requirements.Where should wheel file live?
Thanks

[2022-08-02 13:57] renardeinside commented on #365
hi @ptabandzelic ,
there are multiple options:

1. you can put this wheel file into your private pypi repository (e.g. Nexus, JFrog, Azure Artifacts, AWS Code Artifact). Then reference[ this dependency in your `setup.py` file and add a custom pypi repo into it. ](https://stackoverflow.com/questions/18828805/how-can-i-install-packages-hosted-in-a-private-pypi-using-setup-py).
This is the most recom

[2022-08-02 13:57] #365 closed

[2022-08-02 19:36] ptabandzelic opened #366 "Building package"
Will dbx allow building package with pyproject.toml and poetry?Or setup.py will be only way.
Thanks!

[2022-08-02 19:40] renardeinside commented on #366
please use search through the issues before raising a new one.

poetry is supported and it has been widely described [here](https://github.com/databrickslabs/dbx/issues/251).

[2022-08-02 19:40] #366 closed

[2022-08-04 03:42] datascientistlin opened #369 "[BUG] AttributeError: 'NoneType' object has no attribute 'profile'"
## Expected Behavior
`dbx launch` completes for job run

## Current Behavior
`dbx launch` failed with error

## Steps to Reproduce (for bugs)
Following tutorials from https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ide-how-to to set up IDE and interact with Datbricks
Error occured in the [Run with dbx](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ide-how-to) step

## Con

[2022-08-04 07:22] renardeinside commented on #369
hi @datascientistlin ,
could you please check what happens if you add the env parameter to your launch?
e.g.:
[code]
?

[2022-08-04 09:54] renardeinside commented on #362
Implemented in the linked PR, will be released in 0.6.10
Thank you for raising this one @ptabandzelic

[2022-08-04 09:54] #362 closed

[2022-08-04 10:15] datascientistlin commented on #369
Thanks @renardeinside . This works perfect! How can I foget about the `environment` argument...

A follow-up question, do you know if there is any instruction for setting the CICD flow in Azure DevOps? I could see the GitHub Action approach in the tutorial, but it would be great if there is something pertaining to Azure DevOps as well.

Thank you.

[2022-08-04 10:40] renardeinside commented on #369
Anyways this is considered as a bug, it should fail before reaching this point, so thanks for reporting!

As for Azure DevOps - you can take a look at the `dbx init` and the Azure DevOps template provided there.

[2022-08-04 11:19] datascientistlin commented on #369
Thanks a lot for the advise. Could you please help me understand which `dbx initi` you are referring to?

[2022-08-04 11:30] renardeinside commented on #369
I mean this one - `dbx init`,the doc is [here](https://dbx.readthedocs.io/en/latest/cli.html#dbx-init).

[2022-08-04 12:09] datascientistlin commented on #369
Got it! Thanks a lot

[2022-08-04 17:26] renardeinside commented on #369
resolved in linked PR, released in v0.6.10, thanks a lot for raising this one @datascientistlin !

[2022-08-04 17:26] #369 closed

[2022-08-04 17:30] renardeinside commented on #198
I think there is a misconception on how dbx works.

dbx will keep the artifacts separate between pipelines by default - it's achiveable via `--branch-name` + `--tags` functionality.

To sum up - you don't need to create environments in `.dbx/project.json` dynamically - it's an anti pattern. This file is not intended to change often (as you probably don't create a new Databricks workspace for each

[2022-08-04 17:30] #198 closed

[2022-08-04 19:23] renardeinside commented on #215
`dbx sync` cover cases for jointed development in Notebooks and IDE.

[2022-08-04 19:23] #215 closed

[2022-08-05 12:57] samcomber-mns commented on #215
Yes, we're using this currently, works great! Thanks

dbx sync repo -d <repo name> &

[2022-08-08 09:47] filiphagan opened #373 "dbx not parsing git+https line in requirements.txt"
## Expected Behavior
`dbx deploy` parses all lines in requirements.txt including python dependencies to be installed directly from GitHub

## Current Behavior
Error TL;DR:
[code]

Full logs:
[code]

## Steps to Reproduce (for bugs)
1. Add `git+https://...` line in `requirements.txt`
2. Create proper exemplary job
3. Run `dbx deploy --job=hello-world-job -e dev`

Example:
[code]
## Context

## Your

[2022-08-08 09:51] renardeinside commented on #373
hi @filiphagan ,
support for `--requirements-file` is deprecated. Please use the `setup.py` based approach as described [here](https://stackoverflow.com/questions/32688688/how-to-write-setup-py-to-include-a-git-repository-as-a-dependency):
[code]

[2022-08-08 09:51] #373 closed

[2022-08-08 10:13] filiphagan commented on #373
Hi Ivan, thank you for your support. I'll try this way

[2022-08-08 10:45] filiphagan commented on #373
@renardeinside I'm sorry for the confusion, I didn't describe the issue correctly. We do have also a `setup.py` in our repository that parses all the requirements from requirements*.txt files and then calls `setup()` including `install_requires` argument like above

[2022-08-09 08:46] ptabandzelic opened #374 "Jinja variables not working"
Hi, so i have a jinja_vars.yml where i specified TAG: "0.0.1".Then inside deployment.yml.j2 i reference to it as {{ var['TAG'] }}.But in databricks UI it says null. When i export TAG=0.0.1 and reference it in configuration of deployment by {{ env['TAG'] }}.It works.
I mean i tried everything it wont use jinja-variables-file.Its latest version of dbx.

[2022-08-09 10:07] ptabandzelic commented on #374
Also can i use include with yaml or only json?Would appreciate examples.

[2022-08-09 10:18] renardeinside commented on #374
hi @ptabandzelic ,
Could you please provide your deployment file (you can delete the private information parts from it), as well as the command you're using (e.g. dbx deploy) with all arguments.

[2022-08-09 10:40] ptabandzelic commented on #374
[code]
  autoscale-cluster: &autoscale-cluster
    new_cluster:
      <<:
        - *cluster-props
        - *autoscale-props
        - *aws-props

environments:
  production:
    jobs:
      - name: "test-integration-test"
        job_clusters:
          - job_cluster_key: ""
            <<: *autoscale-cluster
        tags:
          version:  {{ var["TAG"] }}

        email_notifications:

[2022-08-09 14:26] renardeinside commented on #374
I see, it's a bug referenced in #367 . Will prepare fix shortly

[2022-08-09 16:23] renardeinside commented on #374
fix released in 0.6.11 - thanks a lot for the detection!

[2022-08-09 16:23] #374 closed

[2022-08-09 21:35] ptabandzelic commented on #374
Could u just tell me how to make proper include in my example above? =)

[2022-08-09 21:54] renardeinside commented on #374
hi @ptabandzelic ,
this is not something I could help with. I would probably recommend using vars file here as well, and then iterate over permissions definition in it.

[2022-08-10 01:54] aholten opened #378 "Jobs 2.1 API setting ignored by DatabricksClientProvider"
## Expected Behavior

[Despite this closed issue stating the contrary](https://github.com/databrickslabs/dbx/issues/162), dbx does not support the Databricks Jobs 2.1 API.

## Current Behavior

The config/environment variable jobs-api-version value is not passed the `ApiClient` constructor in ` DatabricksClientProvider`'s [_get_v2_client class method](https://github.com/databrickslabs/dbx/blob/f3f

[2022-08-10 13:43] ptabandzelic opened #380 "dbx execute support jinja-variables-file"
Hey, right now jinja-variables-file is argument of a dbx deploy.When i use dbx launch with jinja variables inside configuration, its working.But for dbx execute its not reading jinja variables.

so dbx execute --job=job --task=task will throw error if i have jinja vars inside conf file.
dbx launch --job=job will work even if i have jinja vars inside conf file.
dbx deploy --job=job --jinja-variable

[2022-08-10 14:02] renardeinside commented on #378
closed in linked PR, will be out in the next release

[2022-08-10 14:02] #378 closed

[2022-08-11 08:48] renardeinside commented on #380
closed in the linked PR, will be released in next version

[2022-08-11 08:48] #380 closed

[2022-08-12 09:51] danpicton opened #383 "[Bug or Doc Issue] dbx fails execute python task when no task parameters provided"
## Expected Behavior

`dbx execute --cluster-id=<running_AP_cluster_id> --job=dbx-demo-job --no-rebuild --no-package` will successfully complete and show the results as described in [tutorial](https://docs.databricks.com/dev-tools/dbx.html#create-a-minimal-dbx-project-for-python).

## Current Behavior

Running the above command fails with the following:
[code]

## Steps to Reproduce (for bugs)

1.

[2022-08-12 10:57] renardeinside commented on #383
hi @danpicton ,
thanks a lot for reporting the issue, I'll take care of it

[2022-08-12 11:22] danpicton commented on #383
If it saves time, I was able to fix the code by changing `dbx/model/task.py` line 21 to:

[code]

The `PythonWheelTask` class also has `Optional` params (line 16), so not sure if the issue would occur there also.

[2022-08-12 12:52] tonkolviktor opened #384 "How to configure access_control_list with Job API 2.1?"
## Expected Behavior
First run: My user is added as owner and the additional groups show up in the UI.
Subsequent runs: if access_control_list changes in yaml its reflected in the UI.

## Current Behavior
First run: my user is added as owner and the additional groups do not show up in the UI.
Subsequent runs: if access_control_list changes in yaml nothing happens in the UI.

## Steps to Reproduce

[2022-08-12 13:11] tonkolviktor commented on #384
if I change CAN_MANAGE to CanManage it still does not work (for me?).
https://docs.databricks.com/dev-tools/api/latest/jobs.html#operation/JobsCreate

[2022-08-12 14:13] renardeinside commented on #384
hi @tonkolviktor ,

Thanks a lot for raising the issue, it's a good catch.
RCA:
- On the first job creation the `access_control_list` is supported in the Jobs API 2.1 - as per this [doc](https://docs.databricks.com/dev-tools/api/latest/jobs.html#operation/JobsCreate).
- However on repetative call to the Jobs API 2.1 (it will be JobReset) it's not supported as you can see [here](https://docs.databr

[2022-08-12 14:27] tonkolviktor commented on #384
hi @renardeinside,

thanks for the quick confirmation. I was kind of hoping that I'm misconfiguring something. I wanted to move away from the permissions. The "problem" which could be probably disucssed in a separate issue: if any permission is set one has to set the owner as well, it's not added automatically anymore. Which is a bit inconvieneient (for me/us at least).

Error for the above config

[2022-08-12 15:24] renardeinside commented on #384
Regarding permission setup mode - it's stated here in the [docs](https://dbx.readthedocs.io/en/latest/features/permissions.html#job-permissions-management):

Maybe the wording is no super-clear, but it essentially means that permissions are applied in a stateless method (means it's a non-additive operation, but a full replacement). Therefore you shall always specify the full list of permissions du

[2022-08-13 13:48] zermelozf opened #385 "dbx deploy fails due to mlflow experiment not found"
## Expected Behavior
`dbx deploy --environment=default` succeeds

## Current Behavior
The command returns
`mlflow.exceptions.RestException: INVALID_PARAMETER_VALUE: Experiment with id '2170254243754186' does not exist.`

## Steps to Reproduce (for bugs)
Follow the instructions at https://docs.gcp.databricks.com/dev-tools/ide-how-to.html#run-with-dbx

## Context
Trying to set up dbx for the first t

[2022-08-15 07:58] renardeinside commented on #385
hi @zermelozf ,
could you please provide full stack trace?

[2022-08-15 16:22] arturomf94 opened #387 "`dbx deploy` fails with `AttributeError: 'bytes' object has no attribute 'suffixes'`"
## Expected Behavior

I'm deploying with the following:

[code]

Deployment is successful with `dbx=0.5.0` but fails with the latest, `0.6.12`, version.

## Current Behavior

I'm getting the following error:

[code]

## Context

I believe the error comes from some issue with `pathlib`. However, I'm not sure why this would change betweeen `0.5.0` and `0.6.12`.

I haven't tried any other versions in

[2022-08-15 17:13] renardeinside commented on #387
hi @arturomf94 ,
could you please check if this error is reproducible with `dbx==0.6.11`?

[2022-08-15 17:40] renardeinside commented on #387
I've tried to reproduce this error with dbx==0.6.12 and dbx==0.6.11 in my environment, but unfortunately couldn't - it's working as expected.

[2022-08-15 18:47] arturomf94 commented on #387
I've tried to go all the way down to `dbx==0.6.0` and it also fails, but with a different error:

[code]

🤔

[2022-08-15 20:43] renardeinside commented on #387
`dbx.api.storage` issue was a bug in 0.6.0, this is irrelevant to the current one.

Could you please try the following:
[code]

[2022-08-15 21:47] RamonRay opened #389 "`dbx deploy` returns invalid python file reference in latest versions"
## Expected Behavior
`dbx deploy` succeeds using the deployment config json file and code that works in previous versions (were using 0.1.6, but 0.1.6 returns endpoint not found error when running `dbx execute`)
## Current Behavior
When running dbx deploy, 400 Client Error was thrown
[code]
I saw it in 0.6.6 and then upgraded to 0.6.12 and the issue still exists

## Steps to Reproduce (for bugs)
I

[2022-08-16 08:15] renardeinside commented on #389
hi @RamonRay ,
this is expected behaviour since 0.6.6. Please reference the file in the following format:
[code]

[2022-08-16 08:15] #389 closed

[2022-08-16 09:57] mckwxp opened #390 "Is it possible to use dbx to execute Spark code line by line"
I am coming from databricks-connect where I use it to develop and run interactive Jupyter notebooks on my local machine and execute the Spark code remotely. I am aware that databricks is stopping development of databricks-connect and so I am looking to migrate to dbx. However I am not sure if my use case is covered by dbx, particularly because I read in dbx's limitations section, there is no inter

[2022-08-16 10:40] renardeinside commented on #390
hi @mckwxp ,

Your understanding is correct - at the moment dbx doesn't support interactive line-by-line execution. If you're looking for such capabilities please reach out to your account SA.

[2022-08-16 10:40] #390 closed

[2022-08-16 15:16] arturomf94 commented on #387
@renardeinside - took me a while, but I think I've found what it is...

I reckon it's an issue with `click`. I was using version `7.1.2`, which apparently fails to parse the path as a string. If I upgrade the version to, for instance, `8.1.0`, then it works.

In order to replicate:

1. Install `click==7.1.2`.
2. Run the following:

[code]

This will fail with something like: `TypeError: argument s

[2022-08-16 15:34] renardeinside commented on #387
hi @arturomf94 ,

ah, this makes sense now! we're anyways changing CLI interfaces from click to typer so in upcoming release this shouldn't be a problem.

Thanks a lot for raising the issue!

[2022-08-16 15:54] atursunov opened #391 "Getting TypeError: 'NoneType' object does not support item assignment if I run dbx execute"
## Expected Behavior
run successfully following command:
dbx execute --cluster-name=<name of interactive cluster> --job=cicd-demo-sample-integration-test

## Current Behavior
![image](https://user-images.githubusercontent.com/7220691/184920736-77fe561e-5edf-400f-abe3-78b821cd518e.png)

## Steps to Reproduce (for bugs)
1. pip install cookiecutter path
2. cookiecutter https://github.com/databricksla

[2022-08-16 15:57] renardeinside commented on #391
Hi @atursunov ,
cicd-templates is deprecated. Please use `dbx init` instead, and follow the guidelines [here](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/dbx).

[2022-08-16 15:57] #391 closed

[2022-08-16 22:23] #281 closed

[2022-08-16 22:24] renardeinside commented on #281
hi @pspeter ,
thanks a lot for raising the issue. I've prepared the fix and it will be released as a part of 0.7.0

[2022-08-17 08:42] mickvanhulst-TomTom opened #393 "[FEATURE] Handling concurrent CI jobs"
Within our team, we have various members who may or may not be making changes to a job and want to test that job with different parameters. This, for example, occurs when we trigger our CI where we want to make sure that we are not overwriting one another's files/data.

As we are considering migrating to dbx fully, I am wondering whether there is a suggested workflow on how to handle concurrent re

[2022-08-17 08:59] mickvanhulst-TomTom commented on #277
@renardeinside What are the alternatives to using env variables? In our Azure DevOps environment, we depend on different environment variables that are used throughout our jobs and tasks. An example of such an environment variable is the run id of the DevOps run, which allows us to store files for individual and possible concurrent runs in separate places.

[2022-08-17 11:19] renardeinside commented on #277
hi @mickvanhulst-TomTom ,
please take a look at [Jinja2 support doc](https://dbx.readthedocs.io/en/v0.6.12/features/jinja2_support.html) - there is support for both `env` and `var`-variables.

[2022-08-17 11:30] renardeinside commented on #393
hi @mickvanhulst-TomTom ,

if you're planning to migrate towards `dbx` fully I would recommend doing it with the 0.7.X update which brings more flexibility, documentation and features. We're planning to finish the 0.7.0 release until the end of August.

Although the changes we're planning to introduce are more on the documentation and interface side, we're not planning to introduce breaking change

[2022-08-17 17:13] #383 closed

[2022-08-17 20:33] renardeinside commented on #308
resolved in linked PR

[2022-08-17 20:33] #308 closed

[2022-08-18 06:16] HiteshDream commented on #120
Hi @renardeinside I have a requirement to run my tasks via cli, hence I need a way to pass parameters to my task via CLI. Is there any way to do that? If not is there any plans to add this support?

[2022-08-18 08:37] bjtho08 commented on #217
Is there any command in the current release of dbx that can push the notebooks to the `Shared` folder in the workspace rather than the repository?

I did open a discussion before opening this issue, but it never received any responses and so I simply grew impatient 🤷‍♂️

[2022-08-18 09:12] renardeinside commented on #217
hi @bjtho08,
No, unfortunately we don't have functionality to ship Notebooks to non-Repo based folders. Why would it be required instead of Repos?

[2022-08-18 10:21] bjtho08 commented on #217
In our organization, we have divided our development, test, and production environments such that they are on separate instances of Azure Databricks living on separate Subscriptions. Further, our Governance team insists that us developers should not be able to have direct access to the production environment. I can't see how I would be able to register an Azure DevOps Repo on the production instan

[2022-08-18 11:09] renardeinside commented on #120
hi @HiteshDream ,
this functionality will be added in 0.7.0, currently in heavy development. Stay tuned, we shall be able to release it in 1 week

[2022-08-18 11:33] renardeinside commented on #217
There is no need to register repos in the production instance. You can deploy your notebook-based job to the prod instance using the Remote Source feature as described [here](https://dbx.readthedocs.io/en/latest/examples/notebook_remote.html).

Would that be something that covers your use-case?

[2022-08-18 16:10] theKashyap opened #401 "[IMPROVEMENT] dbx has too many dependencies"
## Expected Behavior
* It does not depend on so many packages, so that chances of my project which depends on many of the same packages does not get into a conflict.
* It does not depend on `azure` packages at all unless I use some optional functionality. I am on AWS.

My rationale is: `dbx` is meant to assist with CI/CD. Why would it need to depend on `numpy`, `pandas`, `prometheus-client`?

## C

[2022-08-18 16:39] renardeinside commented on #401
hi @theKashyap ,

thanks a lot for raising the issue. We're planning to make the package easier in terms of dependencies and also make installation of datafactory dependencies as optional. I'll keep this ticket open until resolution.

[2022-08-18 16:46] renardeinside commented on #401
btw it's really strange that you have:
[code]
as a dependencies of `dbx` - they're not referenced as dependencies of dbx, they're dependencies required for local development with `mlflow`  and `pyspark`, but not related to dbx. Could you please check if these dependencies are coming from dbx?

[2022-08-18 17:09] theKashyap commented on #401
@renardeinside, You're right. Those are not `dbx` dependencies. Not sure why `poetry` installs them when I do `poetry add dbx`. Anyway, I updated the OP with correct information now along with more detailed steps to reproduce so you should be able to DIY.

[2022-08-18 17:23] renardeinside commented on #401
yes, I see. most of the heavy dependencies such as `numpy` and `pandas` are coming from `mlflow`. We'll replace it with `mlflow-skinny` to avoid having issues with that. Thanks a lot for raising this one!

[2022-08-18 19:05] tonkolviktor commented on #384
wow thanks!

[2022-08-19 11:29] bjtho08 commented on #217
Thanks for the suggestion. I think it could be useful, but I am having some difficulty getting it to work. I can deploy my project just fine, but when I try to use `dbx launch --job=<my-job-name> --trace`, I get this error:

    [dbx][2022-08-19 11:07:37.557] [Run Id: 2899] Current run status info - result state: FAILED,
    lifecycle state: INTERNAL_ERROR,
    state message: Task main failed with

[2022-08-19 12:23] renardeinside commented on #217
Hi @bjtho08 ,

this error says that the **job runner in the workspace** was unable to checkout the code. You'll need to configure the Git credentials in the workspace as described [here](https://docs.databricks.com/repos/set-up-git-integration.html).

[2022-08-19 15:29] ptabandzelic opened #404 "nested dictionary support in Jinja Variables File"
First i would deploy, successfully, run job, works on automated cluster.
While with this:
[code]
ERROR:  jinja2.exceptions.UndefinedError: 'dict object' has no attribute 'AUTOSCALE'

[code]
[code]

So it seems like in jinja variables template its working if i have
MIN_WORKERS: 1
MAX_WORKERS: 2
and read that inside configuration as {{ var[MIN_WORKERS] }} {{ var[MAX_WORKERS] }}
BUT
if i have
AUTOSCA

[2022-08-19 17:48] renardeinside commented on #404
hi @ptabandzelic ,
thanks a lot for raising the issue. I wouldn't say it's a bug, but pretty unfortunate behaviour of how variable passing works in Jinja. By design the `var` section is a dictionary of type `Dict[str,str]`, so it doesn't support nesting.
I'm planning to introduce a custom set of functions for such cases, but it would take time.
As a workaround simply use un-nested structures.

[2022-08-19 17:50] renardeinside commented on #404
on a second though, could you please try the following with a nested structure:

[code]

?

[2022-08-19 19:36] bjtho08 commented on #217
Is it possible to supply an `X-Databricks-Azure-SP-Management-Token` header property for any of the API calls in dbx? I noticed that databricks-cli does have support for custom headers. Our organization does not have a Premium plan for our workspace, so adding a service principal with SCIM is not a possibility at the moment. Using PATs also creates an unwanted dependency to individual developers.

[2022-08-19 19:39] renardeinside commented on #217
hi @bjtho08 ,
Not sure how this is relevant to the discussion about notebook-oriented development and/or deployment.
I would recommend creating an[ issue in the main CLI ](https://github.com/databricks/databricks-cli)for this request.

[2022-08-19 21:04] #120 closed

[2022-08-19 21:05] renardeinside commented on #182
fixed in the referenced PR, will be released in 0.7.0
thanks a lot for raising the issue @hendrikfrentrup !

[2022-08-19 21:05] #182 closed

[2022-08-19 21:06] renardeinside commented on #185
fixed in the referenced PR, will be released in 0.7.0, thanks a lot for opening the issue @klesouza

[2022-08-19 21:06] #185 closed

[2022-08-19 21:06] renardeinside commented on #196
closed in the referenced PR, thanks a lot for opening the issue @matthiaspfenninger !

[2022-08-19 21:06] #196 closed

[2022-08-20 01:37] zermelozf commented on #385
Sure, here it is:

[code]

[2022-08-20 12:45] ptabandzelic commented on #404
Sure, will come back

[2022-08-20 13:03] ptabandzelic commented on #404
But why is it working with dbx deploy and dbx launch?

[2022-08-20 13:54] ptabandzelic commented on #404
Its working for everything, it just that dbx execute cant assign values from jinja var files for name of the job and for the package name inside python wheel task.
For python wheel task, it just says none.
While for job it cant find it.
Could u check that?

[2022-08-20 14:52] renardeinside commented on #404
hi @ptabandzelic ,
[code]
should be:
[code]

[2022-08-20 15:19] renardeinside commented on #404
this is because `-jinja-vars-file` is not supported in dbx execute in 0.6.12.
We're preparing this feature to be in 0.7.0

[2022-08-20 15:23] renardeinside commented on #404
Ah, I see.
So both nesting and variable getting works fine with `dbx deploy`, however for some reason it's not working in `dbx execute`. There might be various reasons, but it's definitely a bug behaviour. I'll check what's the reasoning behind.

[2022-08-20 15:35] renardeinside commented on #404
Hi @ptabandzelic ,
I've just verified the setup again, and it works as expected, as well as for the nested dictionaries and lists.
It also works both for launch and for execute with dbx 0.6.12.
The error you're running into is related to the syntax of your deployment.yml, specifically search for the places where you reference the `var["AUTOSCALE"]` section. It seems to me that the quotes are missi

[2022-08-22 06:54] ptabandzelic commented on #404
Works for me now to...I swear it was throwing me error last week :)))
Thanks for clarification!

[2022-08-22 06:54] #404 closed

[2022-08-22 20:10] renardeinside opened #413 "[FEATURE] Create Repo if it doesn't exist in the user directory"
At initial launch of `dbx sync repo` verify that repo exists, if doesn't - create it.

[2022-08-24 15:42] renardeinside commented on #393
hi @mickvanhulst-TomTom ,
is the reply above something that covers the concurrent CI case? Also take a look at this [documentation](https://dbx.readthedocs.io/en/latest/features/assets/) piece - is it something that covers the topic nicely?

[2022-08-24 16:45] renardeinside commented on #385
hi @zermelozf ,
it seems to me that you're using an old version of `dbx`. Please upgrade to the latest 0.7.0 (or at least to 0.6.12).

[2022-08-24 17:51] renardeinside commented on #226
hi @giovannipapini-agilelab ,
unfortunately after internal considerations we decided to drop the ADF support.
You can deploy your job with dbx and save specs to a file, and then use ADF API for deployment.

[2022-08-24 17:51] #226 closed

[2022-08-24 17:51] #277 closed

[2022-08-24 18:53] renardeinside commented on #209
closed in 0.7.0

[2022-08-24 18:53] #209 closed

[2022-08-24 22:04] renardeinside opened #423 "[DOC] Improve docs on the orchestration"
Add sample docs on how to integrate `dbx` with orchestration tools, e.g. Airflow.

[2022-08-24 22:05] renardeinside opened #424 "[DOCS] docs on libraries and dependency management"
approx. content:

- Python package dependency management
- Maven/jar dependency management

[2022-08-24 22:10] renardeinside opened #425 "[FEATURE] add failsafe error message for job deployment on all-purpose clusters"
Sometimes users try to launch a package-based job on an all-purpose clusters and then run into [this behaviour](https://docs.databricks.com/libraries/cluster-libraries.html#update-a-cluster-installed-library).

[2022-08-24 22:13] renardeinside opened #426 "[FEATURE] add failsafe behaviour for --from-assets launches with shared job clusters"
Users might run into unpleasant [experience](https://github.com/databrickslabs/dbx/issues/393) when running `dbx launch --from-assets` with a multitask workflow that uses shared clusters feature (since it's not supported for RunSubmit API).

As a failsafe behaviour we shall introduce automatic resolution of such cases and simply launch jobs on separate clusters and add a warning to the CLI output.

[2022-08-24 22:15] renardeinside opened #427 "[DOCS] Add examples section with more profound cases (e.g. scheduling, tag customization)."
Add examples section with more profound cases (e.g. scheduling, tag customization).

[2022-08-25 11:29] ptabandzelic opened #428 "dbx execute does not render jinja var for job name inside workflows."
I am sorry, i had same opened issue like this. But its just not working for execute. I tried everything. Everything is like in docs.
Works for launch and deploy, but cant work with execute.
[code]

[code]

[code]

[2022-08-25 11:29] ptabandzelic commented on #428
Same thing would happen for package_name...

[2022-08-25 11:37] renardeinside commented on #428
please upgrade to 0.7.0 and provide the parameter **explicitly**, e.g.:

[code]

Would that work?

[2022-08-25 12:07] renardeinside opened #429 "[FEATURE] support more auth mechanisms"
Terraform provider supports pretty comprehensive list of auth methods. Would be great to have the same options available in `dbx`

[2022-08-25 12:19] ptabandzelic commented on #428
Oh shit, did not know that execute takes jinja variables as argument, thanks!

[2022-08-25 12:20] #428 closed

[2022-08-25 14:51] frida-ah commented on #385
hi @renardeinside I had the same issue mentioned here. I upgraded to dbx 0.7.0 and now the error looks like this:
RestException: INVALID_PARAMETER_VALUE: Experiment with id '2624352622693299' does not exist.
It only happens if you deploy a job for the first time. Deploying changes to an existing job works fine.

[2022-08-25 15:13] renardeinside commented on #385
hi @frida-ah ,
what's the MLflow version you're using? I'm asking because I'm not running into this issue in any of the tests

[2022-08-25 19:25] mickvanhulst-TomTom commented on #393
Hi @renardeinside , thanks for the update, the updated documentation looks a lot better, great job!

My understanding is that we would be able to completely isolate our runs by using tags (i.e., `dbx deploy <workflow-name> --assets-only --tags "cake=cheesecake"`); although the tags flag is only needed when there are multiple people working on the same branch. When deploying in an assets-only fashi

[2022-08-25 21:46] renardeinside commented on #393
yes, definitely - the Jinja functionality works independently of the `--assets-only` behaviour. It's described [here](https://dbx.readthedocs.io/en/latest/features/jinja_support/).

the `--parameters` option is absolutely irrelevant to the deployment isolation.

deployment isolation happens during `dbx deploy --assets-only`, `--parameters` simply gives you an interface to override default paramete

[2022-08-25 22:41] renardeinside commented on #385
could you please also verify that you have correct [databricks profile configured as in Step 3 point 4 of the public doc](https://docs.gcp.databricks.com/dev-tools/ide-how-to.html#step-3-install-the-code-samples-dependencies)?

if it's still the case, please provide the deploy command with `dbx deploy --debug` option (please feel free to omit the host url)?
Really curious where is this coming from

[2022-08-25 22:52] #188 closed

[2022-08-25 22:56] renardeinside commented on #280
hi @matthayes ,
any plans to cover this issue? I personally cannot reproduce it in my environment, and I've never seen any issues about it.

[2022-08-26 08:17] frida-ah commented on #385
Hi @renardeinside I don't have mlflow in my requirements.txt. I can also confirm that I have the correct databricks profile configured in the deployment.json file as such:

{
  "environments": {
    "default": {
      "profile": "DEFAULT",
      "workspace_dir": "/Shared/dbx/projects/<project_name>/<...>",
      "artifact_location": "dbfs:/Shared/dbx/projects/<project_name>/<...>"
    }
  }
}

dbx

[2022-08-26 12:47] renardeinside commented on #385
hi @frida-ah ,
still pretty strange behaviour, but thanks a lot anyways. We're going to change the mlflow client logic accordingly to fix this issue.

[2022-08-26 16:08] renardeinside opened #430 "[DOCS] add example on how to package and launch tests from test files in poetry"
The issue is described in [this](https://stackoverflow.com/questions/73490143/how-do-i-include-and-install-test-files-in-a-wheel-and-deploy-to-databricks) StackOverflow question.

* dbx version used: 0.7.0
* Databricks Runtime version: N/A

[2022-08-26 18:40] #385 closed

[2022-08-26 18:41] renardeinside commented on #401
fixed in the merged PR. thanks a lot for raising this one @theKashyap

[2022-08-26 18:41] #401 closed

[2022-08-27 04:38] matthayes commented on #280
Yes I plan to investigate and fix this.  However I think it's pretty rare that this might occur.  I've only heard about this happening a couple times even with heavy usage.

[2022-08-27 04:40] matthayes commented on #280
Note that if this did occur, then the resolution would just be to start the dbx sync process again.  It would resume from where it left off.  The fix would simply be to capture the exception and do the same thing by restarting the sync from its last state.

[2022-08-28 12:59] renardeinside commented on #427
fixed in #432

[2022-08-28 12:59] #427 closed

[2022-08-28 13:02] renardeinside commented on #393
Closing this one since this behaviour is documented and provided in the docs.
In case of any follow up questions please feel free to create a new ticket or kickoff a discussion.

[2022-08-28 13:02] #393 closed

[2022-08-28 13:02] renardeinside commented on #423
Closed in #432

[2022-08-28 13:02] #423 closed

[2022-08-28 13:03] renardeinside commented on #425
this behaviour reported to platform team and documented as a limitiation, no additional actions required.

[2022-08-28 13:03] #425 closed

[2022-08-29 14:47] danielwillemsen opened #439 "Specifying dependencies when running notebook tasks from git source"
I'm curious about the recommended way of specifying dependencies when deploying a job with notebook tasks using a git source.

**Context:**
Before dbx version 0.7, our approach for deploying a notebook based job from a CICD pipeline was as follows:

- In our deployment.yml, we specify a git source for the notebooks to be used.

- In the CI/CD pipeline the following steps were done:
    1. Export o

[2022-08-29 17:34] renardeinside commented on #439
hi @danielwillemsen ,
Instead of using requirements.txt do the following:

1. Specify your dependencies to the `setup.py` instead of using a separate requirements file.
2. In your deployment command, omit the `--no-package --no-rebuild` sections.
3. This will automatically prepare your package and add dependencies to the metadata of the package.
4. Package will be automatically added to the job an

[2022-08-29 17:34] #439 closed

[2022-08-29 18:36] DanMan259 opened #442 "'NoneType' object has no attribute 'context_id'"
## Context
Trying to run `dbx execute` and I get an error retrieving a `context_id`. Not sure if I am missing a step or something. For the most part, trying to run a poetry environment remotely. Trying to get a workflow setup using a local ide and remote execution.

Output:
[code]

## Your Environment
macOS Monterey 12.5.1
Apple M1 Chip
Poetry environment with Python 3.9.12

`deployment.yml`:

[co

[2022-08-29 18:41] renardeinside commented on #442
hi @DanMan259 ,
this issue is resolved in 0.7.2, please upgrade

[2022-08-29 18:41] #442 closed

[2022-08-29 18:41] #430 closed

[2022-08-31 17:30] renardeinside opened #448 "[DOCS] fix 404 page of the docs"
404 page doesn't render properly for unknown reason.

[2022-08-31 18:38] renardeinside commented on #448
linked here - https://github.com/squidfunk/mkdocs-material/issues/4301

[2022-08-31 19:13] renardeinside commented on #448
mkdocs-material is irrelevant, readthedocs issue is here - https://github.com/readthedocs/readthedocs.org/issues/9570

[2022-08-31 20:03] renardeinside commented on #448
Fixed in #449

[2022-08-31 20:03] #448 closed

[2022-09-01 12:30] HimanshuAroraDb opened #450 "dbx execute command fails for minimal dbx python project on PyCharm"
## Expected Behavior
 Command **dbx execute --cluster-id=0114-122447-foods609 himanshu-dbx-demo-job** should deploy and run the pyspark job on an existed interactive cluster.
## Current Behavior
### Scenario1
**deployment.yaml**
[code]
The dbx execute command is failing with the following error: **_FileNotFoundError: Project package was not found. Please check that /dist directory exists._**

###

[2022-09-01 13:21] renardeinside commented on #450
resolution: scenario 1 is correct, use `dbx execute in --no-package`. public doc will be updated soonish.

[2022-09-01 13:21] #450 closed

[2022-09-05 10:27] tonkolviktor opened #452 "dbx launch: Run url wrapped to 2+1 lines"
## Expected Behavior
I expect the Run url in one line.

## Current Behavior
I have 2 lines (+1 for the timestamp):
![image](https://user-images.githubusercontent.com/4534324/188427863-91b8586d-e2ff-48b9-a831-c8115d6b8a17.png)

[code]

## Steps to Reproduce (for bugs)
I'm a bit unsure if this happens everyone or only in Azure DevOps when there is an traceback

## Context
I'm running a CI and I have

[2022-09-06 09:51] renardeinside commented on #452
I cannot reproduce this behaviour locally, seems like something specific to how Azure DevOps formats the output.

[2022-09-06 10:16] renardeinside commented on #452
I assume it's due to how[ rich strings](https://rich.readthedocs.io/en/stable/introduction.html) are formatted, let me check what the options are.
Thanks a lot for reporting this one @tonkolviktor !